.StatusPropertyConfigrationDialog {
    .wrapper {
        .dialog {
            width: 832px;
            height: 540px;
            padding: 0 32px;
        }
    }

    .text-75 {
        color: rgba(var(--center-channel-color-rgb), 0.64);
    }

    .toolbar {
    padding-bottom: 10px !important;
    }

    .categorySwimlanes {
        flex: 1;
        display: flex;
        flex-direction: row;
        margin-top: 36px;
        gap: 10px;
        overflow: hidden;

        .categorySwimlane {
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow: hidden;
        }

        .categorySwimlane_Header {
            display: flex;
            flex-direction: row;
            color: rgba(var(--center-channel-color-rgb), 0.64);
            gap: 9px;

            .text-heading1 {
                text-transform: uppercase;
            }

            .addBtnWrapper {
                margin-left: auto;
                cursor: pointer;
                border-radius: 4px;
                width: 24px;
                height: 24px;
                text-align: center;
                
                &:hover {
                    background: rgba(var(--center-channel-color-rgb), 0.1);
                }
            }
        }

        .categorySwimlane_ValueArea {
            flex: 1;
            border: 2px dashed rgba(var(--center-channel-color-rgb), 0.25);
            border-radius: 8px;
            overflow: hidden;
            padding: 14px 3px !important;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .overflowWrapper {
                overflow-y: auto;
                min-height: 100%;
            }

            .Label {
                width: max-content;
                margin-top: 0;
                max-width: 150px;
                margin-right: auto;

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .categorySwimlane_Value {
                display: flex;
                cursor: pointer;
                padding: 4px;

                .colorEditor, .contextMenu {
                    display: none;
                    cursor: pointer;
                }

                .Menu {
                    position: fixed;
                }

                .colorEditor {
                    margin-right: 4px;
                    margin-left: 4px;

                    &.editing {
                        display: block;
                    }
                }

                .contextMenu {
                    width: 24px;
                    height: 24px;
                    text-align: center;
                    border-radius: 4px;

                    &:hover {
                        background: rgba(var(--center-channel-color-rgb), 0.1);
                    }
                }

                &:hover, &.active {
                    background: rgba(var(--center-channel-color-rgb), 0.1);
                    border-radius: 4px;

                    .colorEditor, .contextMenu {
                        display: block;
                    }
                }

                .dragHandleWrapper {
                    width: 24px;
                    height: 24px;
                    text-align: center;
                }
                
                .colorEditor {
                    width: 24px;
                    min-width: 24px;
                    max-width: 24px;
                    height: 24px;
                    border: 1px solid #80808052;
                    border-radius: 4px;
                }
            }

            .emptyColumnPlaceholder {
                margin: 0 16px;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 6px 0;
                
                .icon-wrapper {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 0 auto;
                    padding-top: 7px;

                    .CompassIcon {
                        font-size: 18px;
                        opacity: 1;
                        display: block;
                        height: 18px;
                    }
                }
            }
        }
    }
}
