.StatusPropertyConfigrationDialog {
    .wrapper {
        .dialog {
            width: 832px;
            height: 540px;
            padding: 0 32px;
        }
    }

    .text-75 {
        color: rgba(var(--center-channel-color-rgb), 0.64);
    }

    .toolbar {
    padding-bottom: 10px !important;
    }

    .categorySwimlanes {
        flex: 1;
        display: flex;
        flex-direction: row;
        margin-top: 36px;
        gap: 10px;

        .categorySwimlane {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .categorySwimlane_Header {
            display: flex;
            flex-direction: row;
            color: rgba(var(--center-channel-color-rgb), 0.64);
            gap: 9px;

            .text-heading1 {
                text-transform: uppercase;
            }

            .PlusIcon {
                margin-left: auto;
                cursor: pointer;
            }
        }

        .categorySwimlane_ValueArea {
            flex: 1;
            border: 2px dashed rgba(63, 67, 80, 0.24);
            border-radius: 8px;
            padding: 17px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .Label {
                width: max-content;
            }

            .categorySwimlane_Value {
                display: flex;
                padding-left: 20px;
                cursor: pointer;
                padding-top: 4px;
                padding-bottom: 4px;

                &:hover {
                    padding-left: 0;

                    .dragHandleWrapper {
                        display: block;
                    }
                }

                .dragHandleWrapper {
                    display: none;
                    width: 20px;
                    margin-top: 3px;
                }
            }
        }
    }
}