.propColor0,
.propColorDefault {
	background-color: rgba(206, 205, 202, 0.5);
}

.propColor1, .propColor1:hover,
.propColorGray, .propColorGray:hover {
	background-color: rgba(155, 154, 151, 0.4);
}

.propColor2, .propColor2:hover,
.propColorBrown, .propColorBrown:hover {
	background-color: rgba(140, 46, 0, 0.2);
}

.propColor3, .propColor3:hover,
.propColorOrange, .propColorOrange:hover {
	background-color: rgba(245, 93, 0, 0.2);
}

.propColor4, .propColor4:hover,
.propColorYellow, .propColorYellow:hover {
	background-color: rgba(233, 168, 0, 0.2);
}

.propColor5, .propColor5:hover,
.propColorGreen, .propColorGreen:hover {
	background-color: rgba(0, 135, 107, 0.2);
}

.propColor6, .propColor6:hover,
.propColorBlue, .propColorBlue:hover {
	background-color: rgba(0, 120, 233, 0.2);
}

.propColor7, .propColor7:hover,
.propColorPurple, .propColorPurple:hover {
	background-color: rgba(103, 36, 222, 0.2);
}

.propColor8, .propColor8:hover,
.propColorPink, .propColorPink:hover {
	background-color: rgba(221, 0, 129, 0.2);
}

.propColor9, .propColor9:hover,
.propColorRed, .propColorRed:hover {
	background-color: rgba(255, 0, 26, 0.2);
}
