* {
	box-sizing: border-box;
	outline: 0;
	user-select: none;
}

html, body {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
	color: rgb(55, 53, 47);
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    /* -webkit-font-smoothing: auto; */
	font-size: 14px;
	line-height: 24px;
	--cursor-color: rgb(55, 53, 47);
}

a {
	text-decoration: none;
}

a:hover {
	background-color: rgba(192, 192, 255, 0.2);
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	color: rgba(55, 53, 47, 0.09);
	background-color: rgba(55, 53, 47, 0.09);
	margin-bottom: 8px;
}

.page-loading {
	margin: 50px auto;
}

.title, h1 {
	font-size: 40px;
	line-height: 40px;
	margin: 0 0 10px 0;
	font-weight: 600;
	display: inline-block;
}

/* App frame */

#octo-tasks-app {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

#octo-tasks-app #frame,
#octo-tasks-app #main,
#octo-tasks-app .BoardPage {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

/* Sidebar */

.octo-workspace {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	overflow: auto;
}

.octo-sidebar {
    flex: 0 0 230px;

	display: flex;
	flex-direction: column;

	min-height: 100%;
	background-color: rgb(247, 246, 243);
	padding: 10px 0;
}

.octo-sidebar.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    min-height: 0;
    height: 50px;
    width: 50px;
    background: none;
    padding: 0;
}

.octo-sidebar.hidden > div {
    padding: 0;
    margin: auto;
}

.octo-sidebar-header {
	display: flex;
	flex-direction: row;

	font-weight: 600;
    padding: 3px 20px;
    margin-bottom: 5px;
}

.octo-sidebar-item {
	display: flex;
	flex-direction: row;

	font-weight: 500;
	padding: 3px 20px;
}

.octo-sidebar-item.subitem {
    color: rgba(25, 23, 18, 0.6);
	font-weight: 400;
    margin-left: 20px;
}

.octo-sidebar-title {
    cursor: pointer;
    flex-grow: 1;
}

.octo-sidebar-item:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.octo-sidebar-item .octo-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

/* Main app */

.octo-app {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.octo-frame {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: scroll;

	padding: 10px 95px 50px 95px;
}

.octo-controls {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;

	border-bottom: solid 1px #cccccc;
	margin-bottom: 10px;
	padding: 10px 10px;
	color: #909090;
}

.octo-controls > div {
	margin-right: 5px;
	white-space: nowrap
}

.dragover {
	background-color: rgba(128, 192, 255, 0.4);
}

.octo-label {
	display: inline-block;
	padding: 0 5px;
	border-radius: 3px;
	line-height: 20px;
	color: rgb(55, 53, 47);
	white-space: nowrap
}

.octo-spacer {
	flex: 1;
}

.octo-clickable,
.octo-button {
	text-align: center;
	border-radius: 5px;
	padding: 0 5px;
	min-width: 20px;
	cursor: pointer;
	overflow: hidden;

	transition: background 100ms ease-out 0s;
}

.octo-clickable,
.octo-button:hover {
	background-color: #eeeeee;
}

.filled {
	color: #ffffff;
	background-color: #50aadd;
	padding: 2px 10px;
}

.filled:hover {
	background-color: #507090;
}

/*-- Menu --*/

.menu {
	position: absolute;
	z-index: 15;
	min-width: 180px;
	background-color: #ffffff;

    border-radius: 3px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.menu.top {
    bottom: 100%;
}

.menu-wrapper {
    position: relative;
}

.menu-options {
	display: flex;
	flex-direction: column;

	list-style: none;
	padding: 0;
	margin: 0;

    color: rgb(55, 53, 47);
}

.menu-option {
	display: flex;
	flex-direction: row;
	align-items: center;

	font-weight: 400;
	padding: 2px 10px;
	cursor: pointer;
	touch-action: none;
}

.menu-option .menu-name {
	flex-grow: 1;
}

.menu-option:hover {
	background: rgba(90, 90, 90, 0.1);
}

.menu-separator {
	border-bottom: solid 1px #cccccc;
}

.menu-colorbox {
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
}

.menu-textbox {
	font-weight: 400;
	padding: 2px 10px;
	cursor: text;
	touch-action: none;
	border: solid 1px #909090;
	border-radius: 3px;
	margin: 5px 5px;
}

/* Icons */

.octo-hovercontrols {
    display: flex;
    flex-direction: column;
	align-items: flex-start;

	min-height: 30px;
	width: 100%;
	color:rgba(55, 53, 47, 0.4);
}

.octo-icon {
	font-family: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
	line-height: 1.5em;
    align-self: baseline;
    overflow: visible;
}

.octo-icontitle {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.octo-frame > .octo-icontitle .octo-icon {
	font-size: 36px;
	margin-right: 15px;
}

/*-- Property list --*/

.octo-propertyvalue {
	color: rgb(55, 53, 47);
	padding: 0 5px;
}

.octo-propertyvalue.empty {
	color: #cccccc;
}

/*-- Editable --*/

.octo-editable {
	cursor: text;
}

.octo-editable.active {
	min-width: 100px;
}

.octo-placeholder {
	color: rgba(55, 53, 47, 0.4);
}

[contentEditable=true]:empty:before{
	content: attr(placeholder);
	display: block;
	color: rgba(55, 53, 47, 0.4);
}


.octo-propertyvalue.octo-editable.active,
.octo-table-cell .octo-editable.active {
	border-radius: 3px;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.octo-button.octo-hovercontrol {
	background: rgb(239, 239, 238);
}

.octo-button.square {
	padding: 0;
}

.octo-button.active {
	color: rgb(45, 170, 220);
	font-weight: 500;
}

.octo-hoverbutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
	border-radius: 3px;

	position: absolute;
	right: 6px;
	top: 4px;
	cursor: pointer;
	background: rgb(239, 239, 238);
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
	padding: 0 5px;
}

.octo-hoverbutton.square {
	height: 24px;
	width: 24px;
	padding: 0;
}

/* Flash Panel */

.flashPanel {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	bottom: 120px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 10px 20px;
	min-width: 150px;
	max-width: 420px;
	min-height: 50px;
	color: #ffffff;
	background: rgba(100, 100, 100, 0.8);
	font-size: 18px;
	vertical-align: middle;
	border-radius: 20px;
	z-index: 12;
}

.flashIn {
	visibility: visible;
	opacity: 1;
}

.flashOut {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 200ms, opacity ease-in 200ms;
}


/* Hover panel */

.octo-hoverpanel {
    display: flex;
    flex-direction: column;
	align-items: flex-start;

	min-height: 30px;
	width: 100%;
	color:rgba(55, 53, 47, 0.4);
}

.octo-block img {
	max-width: 500px;
	max-height: 500px;
	margin: 5px 0;
}

/* This needs to be declared after other co-classes */
.octo-hover-container {
	position: relative;
}

.octo-hover-item {
	display: none;
}

.octo-hover-container:hover .octo-hover-item {
	display: flex;
}

.octo-content {
	width: 100%;
	margin-right: 50px;
}

.octo-block {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	width: 100%;
	padding-right: 126px;
}

.octo-block * {
	flex-shrink: 0;
}

.octo-block-margin {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
	padding-top: 10px;
	padding-right: 10px;

	width: 126px;
}
