h1,
h2,
h3,
.title {
    font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.font-semibold {
    font-weight: 600;
}

.text-heading8 {
    font-size: 2rem; /* 32px / 16px = 2rem */
}

.text-heading7 {
    font-size: 1.75rem; /* 28px / 16px = 1.75rem */
}

.text-heading6 {
    font-size: 1.5625rem; /* 25px / 16px = 1.5625rem */
}

.text-heading5 {
    font-size: 1.375rem; /* 22px / 16px = 1.375rem */
}

.text-heading4 {
    font-size: 1.25rem; /* 20px / 16px = 1.25rem */
}

.text-heading3 {
    font-size: 1.125rem; /* 18px / 16px = 1.125rem */
}

.text-heading2 {
    font-size: 1rem; /* 16px / 16px = 1rem */
}

.text-heading1 {
    font-size: 0.875rem; /* 14px / 16px = 0.875rem */
}

.text-base {
    font-size: 1rem; /* 16px / 16px = 1rem */
}

.text-75 {
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
    line-height: 1rem; /* 16px / 16px = 1rem */
}

.text-danger {
    color: var(--error-text);
}

@font-face {
    font-family: "Pretendard Variable";
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/pretendard/PretendardVariable.woff2")
        format("woff2-variations");
}
