h1,
h2,
h3,
.title {
    font-family: Metropolis, sans-serif;
    font-weight: 600;
}

.focalboard-body {
    .title {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 10px 0;
    }
}

h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 10px 0;
}

// Metropolis font definitions
@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/metropolis/Metropolis-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Metropolis';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/metropolis/Metropolis-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/metropolis/Metropolis-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Metropolis';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/metropolis/Metropolis-RegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/metropolis/Metropolis-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Metropolis';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/metropolis/Metropolis-LightItalic.woff2') format('woff2');
}
