* {
	box-sizing: border-box;
    outline: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
	font-family: 'Open Sans', sans-serif;
}

html, body {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
	color: rgb(var(--body-color));
    background: rgb(var(--main-bg));
}

input, textarea, select, button {
    font-size: 100%;        /* Normalize */
}

input, textarea {
    background: rgb(var(--main-bg));
	color: rgb(var(--body-color));

    -webkit-user-select: auto;  /* Chrome all / Safari all */
    -moz-user-select: auto;     /* Firefox all */
    -ms-user-select: auto;      /* IE 10+ */
    user-select: auto;          /* Likely future */
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
    /* -webkit-font-smoothing: auto; */
	font-size: 14px;
	line-height: 24px;
	--cursor-color: rgb(var(--body-color));
}

a {
	text-decoration: none;
    color: var(--link-color);

    &:visited {
        color: var(--link-visited-color);
    }

    &:hover {
        background-color: rgba(192, 192, 255, 0.2);
    }
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	color: rgba(var(--body-color), 0.09);
	background-color: rgba(var(--body-color), 0.09);
	margin-bottom: 8px;
}

button {
	&.style--none {
        background: transparent;
        border: none;
		padding: 0;
	}
}

.page-loading {
	margin: 50px auto;
}

.title, h1 {
	font-size: 40px;
	line-height: 40px;
	margin: 0 0 10px 0;
	font-weight: 600;
	display: inline-block;
}

/* App frame */

#main-app {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

#main-app #frame,
#main-app #main,
#main-app .BoardPage {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

/* Main app */

.octo-app {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.octo-frame {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: scroll;

    padding: 24px 80px 8px;

    @media screen and (max-width: 768px) {
        padding: 8px 40px;
    }
}

.dragover {
	background-color: rgba(128, 192, 255, 0.4);
}

.octo-label {
	display: inline-flex;
	align-items: center;
	padding: 2px 8px;
	border-radius: 3px;
	line-height: 20px;
	color: rgba(var(--body-color), .8);
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
}

.octo-spacer {
	flex: 1;
}

/* Icons */

.octo-icon {
	font-family: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
	line-height: 1.5em;
    align-self: baseline;
    overflow: visible;
}

.octo-icontitle {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*-- Property list --*/

.octo-propertyvalue {
	color: rgb(var(--body-color));
	padding: 0 5px;
    &.empty {
	    color: rgba(var(--body-color), 0.4);
    }
}

/*-- Editable --*/

.octo-editable {
	cursor: text;
}

.octo-editable.active {
	min-width: 100px;
}

.octo-placeholder {
	color: rgba(var(--body-color), 0.4);
}

[contentEditable=true] {
    -webkit-user-select: auto;  /* Chrome all / Safari all */
    -moz-user-select: auto;     /* Firefox all */
    -ms-user-select: auto;      /* IE 10+ */
    user-select: auto;          /* Likely future */
}

[contentEditable=true]:empty:before{
	content: attr(placeholder);
	display: block;
	color: rgba(var(--body-color), 0.4);
}


.octo-propertyvalue.octo-editable.active,
.octo-table-cell .octo-editable.active {
	border-radius: 3px;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.octo-block img {
    width: calc(100% - 20px);
	max-width: 500px;
	max-height: 500px;
	margin: 5px 0;
}

.octo-content {
	width: 100%;
	margin-right: 50px;
}

.octo-block {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	width: 100%;

    @media not screen and (max-width: 975px) {
        padding-right: 126px;
    }
    @media screen and (max-width: 975px) {
        padding-right: 10px;
    }

    > * {
        flex: 1 1 auto;
    }
    > .octo-block-margin {
        flex: 0 0 auto;
    }
}

.octo-block-margin {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
	padding-top: 10px;
	padding-right: 10px;

    @media not screen and (max-width: 975px) {
        width: 126px;
    }
}
