:root {
    --main-bg: 255, 255, 255;
    --main-fg: 55, 53, 47;
    --button-bg: 80, 170, 221;
    --button-fg: 255, 255, 255;
    --sidebar-bg: '247, 246, 243';
    --sidebar-fg: '55, 53, 47';
}

* {
	box-sizing: border-box;
	outline: 0;
	user-select: none;
}

html, body {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
	color: rgb(var(--main-fg));
    background: rgb(var(--main-bg));
}

input {
    background: rgb(var(--main-bg));
	color: rgb(var(--main-fg));
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    /* -webkit-font-smoothing: auto; */
	font-size: 14px;
	line-height: 24px;
	--cursor-color: rgb(var(--main-fg));
}

a {
	text-decoration: none;
    &:hover {
        background-color: rgba(192, 192, 255, 0.2);
    }
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	color: rgba(var(--main-fg), 0.09);
	background-color: rgba(var(--main-fg), 0.09);
	margin-bottom: 8px;
}

.page-loading {
	margin: 50px auto;
}

.title, h1 {
	font-size: 40px;
	line-height: 40px;
	margin: 0 0 10px 0;
	font-weight: 600;
	display: inline-block;
}

/* App frame */

#octo-tasks-app {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

#octo-tasks-app #frame,
#octo-tasks-app #main,
#octo-tasks-app .BoardPage {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

/* Main app */

.octo-app {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.octo-frame {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: scroll;

	padding: 10px 95px 50px 95px;
}

.dragover {
	background-color: rgba(128, 192, 255, 0.4);
}

.octo-label {
	display: inline-block;
	padding: 0 5px;
	border-radius: 3px;
	line-height: 20px;
	color: rgb(var(--main-fg));
	white-space: nowrap
}

.octo-spacer {
	flex: 1;
}

/* Icons */

.octo-hovercontrols {
    display: flex;
    flex-direction: column;
	align-items: flex-start;

	min-height: 30px;
	width: 100%;
	color:rgba(var(--main-fg), 0.4);
}

.octo-icon {
	font-family: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
	line-height: 1.5em;
    align-self: baseline;
    overflow: visible;
}

.octo-icontitle {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*-- Property list --*/

.octo-propertyvalue {
	color: rgb(var(--main-fg));
	padding: 0 5px;
    &.empty {
	    color: rgba(var(--main-fg), 0.4);
    }
}

/*-- Editable --*/

.octo-editable {
	cursor: text;
}

.octo-editable.active {
	min-width: 100px;
}

.octo-placeholder {
	color: rgba(var(--main-fg), 0.4);
}

[contentEditable=true]:empty:before{
	content: attr(placeholder);
	display: block;
	color: rgba(var(--main-fg), 0.4);
}


.octo-propertyvalue.octo-editable.active,
.octo-table-cell .octo-editable.active {
	border-radius: 3px;
	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.octo-hoverbutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
	border-radius: 3px;

	position: absolute;
	right: 6px;
	top: 4px;
	cursor: pointer;
	background: rgb(var(--main-fg), 0.1);
	box-shadow: rgba(var(--main-fg), 0.1) 0px 0px 0px 1px, rgba(var(--main-fg), 0.1) 0px 2px 4px;
	padding: 0 5px;

    &.square {
        height: 24px;
        width: 24px;
        padding: 0;
    }
}

/* Hover panel */

.octo-hoverpanel {
    display: flex;
    flex-direction: column;
	align-items: flex-start;

	min-height: 30px;
	width: 100%;
	color:rgba(var(--main-fg), 0.4);
}

.octo-block img {
	max-width: 500px;
	max-height: 500px;
	margin: 5px 0;
}

/* This needs to be declared after other co-classes */
.octo-hover-container {
	position: relative;
}

.octo-hover-item {
	display: none;
}

.octo-hover-container:hover .octo-hover-item {
	display: flex;
}

.octo-content {
	width: 100%;
	margin-right: 50px;
}

.octo-block {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	width: 100%;
	padding-right: 126px;

    * {
	    flex-shrink: 0;
    }
}

.octo-block-margin {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
	padding-top: 10px;
	padding-right: 10px;

	width: 126px;
}
