:root {
    --center-channel-bg-rgb: 255, 255, 255;
    --center-channel-color-rgb: 0, 0, 0;
    --sidebar-bg-rgb: 20, 93, 191;
    --sidebar-text-rgb: 55, 53, 47;
    --button-color-rgb: 255, 255, 255;
    --button-bg-rgb: 22, 109, 204;
    --link-color-rgb: 35, 137, 215;
    --error-text-rgb: #ffa9a9;
}
