.focalboard-body .property-link {
    &.url {
        display: flex;
        overflow: hidden;
    }

    a {
        padding: 0 8px; // increases clickable area for better UX
        align-self: stretch;
        display: none;
    }

    a:hover {
        background:  unset;
    }

    &:hover {
        a {
            display: flex;
            align-items: center;
        }
    }
}
