.focalboard-body .property-link {
    display: flex;
    align-items: center;

    &.url {
        width: 100%;
    }

    .Link__button {
        display: none;
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        color: rgba(var(--center-channel-color-rgb), 0.56);
        font-size: 14.4px;
        margin-left: 8px;

        &:hover {
            color: rgba(var(--center-channel-color-rgb), 0.72);
            background: rgba(var(--center-channel-color-rgb), 0.08);
        }

        &:active {
            color: var(--button-bg-rgb);
            background-color: rgb(var(--button-bg-rgb), 0.16);
        }
    }

    a:hover {
        background:  unset;
    }

    &:hover {
        .Link__button {
            display: flex;
        }
    }
}


