<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>

	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="/images.css">
	<link rel="stylesheet" href="/colors.css">

	<script>
		window.location.href = "/boards"
	</script>
</head>

<body class="container">
	<header id="header">
		<a href="/">OCTO</a>
	</header>

	<main id="main">
		<p>
			<a href="boards">All Boards</a>
		</p>
	</main>
</body>

</html>