<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>

	<link rel="stylesheet" href="/easymde.min.css">
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="/images.css">
	<link rel="stylesheet" href="/colors.css">
</head>

<body>
	<div id="octo-tasks-app">
	</div>
</body>

</html>