<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>

	<link rel="stylesheet" href="/easymde.min.css">
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="/images.css">
	<link rel="stylesheet" href="/colors.css">
</head>

<body class="container">
	<header id="header">
		<a href="/">OCTO</a>
	</header>

	<main id="main">
	</main>

	<footer id="footer">
	</footer>

	<div id="overlay">
	</div>

	<div id="modal">
	</div>
</body>

</html>