.focalboard-body .Button {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: var(--default-rad);
    min-width: 20px;
    cursor: pointer;
    overflow: hidden;
    background: transparent;
    border: none;
    transition: background 100ms ease-out 0s;
    color: inherit;

    &:hover {
        background-color: rgba(var(--body-color), 0.1);
    }

    &.filled {
        color: #ffffff;
        background-color: rgb(var(--button-bg));
        padding: 6px 12px;

        &:hover {
            background-color: rgb(var(--button-bg), 0.8);
        }
    }

    &.emphasis--secondary {
        border: 1px solid rgb(var(--button-bg));
        color: rgb(var(--button-bg));

        &:hover {
            background-color: rgb(var(--button-bg), 0.08);
        }

        &:active {
            background-color: rgb(var(--button-bg), 0.16);
        }
    }

    &.active {
        color: rgb(var(--link-color));
        font-weight: 600;
    }

    &.size--small {
        font-size: 12px;
        font-weight: 600;
        padding: 0 16px;
        height: 32px;
    }

    .Icon {
        width: 14px;
        height: 14px;
        margin-right: 0px;
    }
}
