.Button {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
	text-align: center;
    justify-content: center;
	border-radius: var(--default-rad);
	min-width: 20px;
	cursor: pointer;
	overflow: hidden;
    background: transparent;
    border: none;
    transition: background 100ms ease-out 0s;
    color: inherit;

	&:hover {
        background-color: rgba(var(--body-color), 0.1);
	}

    &.filled {
        color: #ffffff;
        background-color: rgb(var(--button-bg));
        padding: 2px 10px;

        &:hover {
            background-color:  rgb(var(--button-bg), 0.8);
        }
    }

    &.active {
        color: rgb(var(--link-color));
        font-weight: 600;
    }

    .Icon {
        width: 14px;
        height: 14px;
        margin-right: 0px;
    }
}
