.Button {
    display: flex;
    align-items: center;
	text-align: center;
	border-radius: 5px;
	padding: 0 5px;
	min-width: 20px;
	cursor: pointer;
	overflow: hidden;

	transition: background 100ms ease-out 0s;

	&:hover {
        background-color: rgba(var(--main-fg), 0.1);
	}

    .Icon {
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }
}
