<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->

<html>
    <head>
        {{ partial "head.html" .}}
    </head>
<body class="blog-list">
    {{ partial "nav.html" .}}
    <div class="container">
        <div class="row">
            <div class="col-md-9 doc-content">
                <h3>Focalboard Developer Blog</h3>
                {{ range (.Paginate .Data.Pages).Pages.ByDate.Reverse }}
                    {{ .Render "summary" }}
                {{ end }}
                <div class="blog-pagination">
                    {{ if .Paginator.HasNext }}
                        <a class="btn btn-primary btn-sm" href="{{ .Paginator.Next.URL }}"> &laquo; Previous Posts</a>
                    {{ end }}
                    {{ if .Paginator.HasPrev }}
                        <a class="btn btn-primary btn-sm" href="{{ .Paginator.Prev.URL }}"> Next Posts &raquo;</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" .}}
</body>
</html>
