.CreateCategoryModal {
    color: rgba(var(--center-channel-color-rgb));

    .wrapper {
        .dialog {
            width: 600px;
            height: 260px;
        }

        .toolbar {
            flex-direction: row-reverse;
            padding: 2px 6px;
        }

        .CreateCategory {
            display: flex;
            flex-direction: column;
            padding: 0 40px 30px;
            gap: 12px;
            flex: 1;

            .inputWrapper {
                position: relative;

                .CloseCircle {
                    cursor: pointer;
                    position: absolute;
                    font-size: 18px;
                    width: 16px;
                    height: 16px;
                    right: 16px;
                    top: 6px;
                    color: rgba(var(--center-channel-color-rgb), 0.64);
                }
            }

            .categoryNameInput {
                width: 100%;
            }

            h3 {
                margin-top: 0;
            }

            input {
                font-size: 16px;
                padding: 6px 12px;
                border-radius: 4px;
                border: 2px solid rgba(var(--center-channel-color-rgb), 0.16);

                &:focus {
                    border-color: var(--button-bg);
                }
            }

            .footer {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }

            .createCategoryActions {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-top: auto;
                gap: 12px;
            }
        }
    }
}
