.UserProperty {
    padding: 4px 8px;
    margin-right: 20px;
    min-width: 180px;
    display: flex;
    align-items: center;
    border-radius: 4px;

    &:hover {
        background-color: rgba(var(--center-channel-color-rgb), 0.08);
    }

    &.readonly {
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: unset;
    }

    .UserProperty-item {
        display: flex;
        align-items: center;

        img {
            border-radius: 50px;
            width: 24px;
            height: 24px;
            margin-right: 6px;
        }
    }

    .react-select__menu {
        background: rgba(var(--center-channel-bg-rgb), 1);
        box-shadow: var(--elevation-4);
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
        border-radius: 4px;
    }

    .react-select__single-value {
        margin: 0;
        position: relative;
        top: 0;
        max-width: 100%;
    }

    .react-select__option {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 40px 0 20px;

        &:hover {
            background: rgba(var(--center-channel-color-rgb), 0.08);
        }

        &:active {
            background: rgba(var(--button-bg-rgb), 0.08);
        }

        &.react-select__option--is-selected {
            background: rgba(var(--button-bg-rgb), 0.08);
            color: rgba(var(--center-channel-color-rgb), 1);
        }

        .UserProperty-item {
            img {
                margin-right: 12px;
            }
        }
    }

    .react-select__menu-list {
        border: 0;
    }
}


