.Checkbox {
    display: flex;

    .inputCheck {
        width: auto;
    }

    .inputText {
        outline: 0;
        flex-grow: 1;
    }

}

.CheckboxView {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 16px;

    input {
        width: 16px;
        height: 16px;
        opacity: 0.8;
    }
}
