.focalboard-body .SidebarUserMenu {
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo-title {
            display: flex;
            align-items: center;
            font-size: 16px;
            margin-right: 5px;
            .LogoIcon {
                fill: rgba(var(--sidebar-fg), 1);
                height: 24px;
                width: 22px;
                margin-right: 3px;
                position: relative;
                bottom: 2px;
            }
            span {
                height: 32px;
            }
        }

        .versionFrame {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .version {
            font-size: 11px;
            line-height: 11px;
            font-weight: 500;
            color: rgba(var(--sidebar-fg), 0.8);
        }

        .versionBadge {
            font-size: 10px;
            line-height: 11px;
            font-weight: 500;
            color: rgba(var(--sidebar-fg), 0.8);
        }
    }
}
