.GlobalHeaderComponent {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    .spacer {
        flex-grow: 1;
    }
    .help-button {
        display: flex;
        align-items: center;
        padding: 0 17px;
    }
    .HelpIcon {
        color: rgba(var(--sidebar-text-rgb), 0.64);
        font-size: 20px;
    }

    .logo-title {
        font-family: Metropolis, sans-serif;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        margin-right: 5px;

        .logo__icon {
            font-size: 24px;
        }

        .LogoIcon, .FocalboardLogoIcon {
            fill: rgba(var(--sidebar-text-rgb), 1);
            color: rgba(var(--sidebar-text-rgb), 1);
            height: 24px;
            width: 22px;
            margin-right: 3px;
            position: relative;
            bottom: 2px;
        }
    }
}
