.RHSChannelBoardItem {
    padding: 15px;
    text-align: left;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(var(--center-channel-color-rgb));

    .date {
        color: #cccccc;
    }

    .board-info {
        display: flex;
        font-size: 16px;

        .icon {
            margin-right: 10px;
        }

        .title {
            font-weight: 600;
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
