    <section id="fh5co-counters" style="background-image: url(images/{{ .Site.Params.counters.background }});" data-stellar-background-ratio="0.5">
        <div class="fh5co-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center to-animate">
                    <h2>{{ .Site.Params.counters.title | markdownify }}</h2>
                </div>
            </div>
            <div class="row">
            {{ range .Site.Params.counters.item }}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fh5co-counter to-animate">
                        <i class="fh5co-counter-icon {{ .icon }} to-animate-2"></i>
                        <span class="fh5co-counter-number js-counter" data-from="{{ .from }}" data-to="{{ .to }}" data-speed="{{ .speed }}" data-refresh-interval="{{ .interval }}">{{ .to }}</span>
                        <span class="fh5co-counter-label">{{ .description }}</span>
                    </div>
                </div>
            {{ end }}
            </div>
        </div>
    </section>
