    <footer id="footer" role="contentinfo">
        <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
        <div class="container">
            <div class="">
                <div class="col-md-12 text-center">
                    <p>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social social-circle">
                        <li><a href="{{ .Site.Params.footer.twitter }}" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href="{{ .Site.Params.footer.facebook }}" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="{{ .Site.Params.footer.youtube }}" target="_blank"><i class="icon-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
