    <section id="fh5co-services" data-section="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-left">
                    <h2 class=" left-border to-animate">{{ with .Site.Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
                    <div class="row">
                        <div class="col-md-8 subtext to-animate">
                            <h3>{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            {{ range .Site.Params.services.item }}
                <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                    <i class="icon to-animate-2 {{ .icon | markdownify }}"></i>
                    <h3>{{ .title | markdownify }}</h3>
                    <p>{{ .description | markdownify }}</p>
                </div>
                <div class="clearfix visible-sm-block"></div>
            {{ end }}
            </div>
        </div>
    </section>
