.Editable {
	cursor: text;
    border: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    &.active {
	    min-width: 100px;
    }
    &::placeholder{
        color: rgba(var(--main-fg), 0.4);
        opacity: 1;
    }
}
