.MenuWrapper {
    position: relative;
    cursor: pointer;

    &.disabled {
        cursor: default;
    }

    *:first-child {
        -webkit-user-select: text; /* Chrome all / Safari all */
        -moz-user-select: text; /* Firefox all */
        -ms-user-select: text; /* IE 10+ */
        user-select: text;
    }
}
