.Switch {
    display: flex;
    flex-shrink: 0;

    box-sizing: content-box;
    height: 14px;
    width: 26px;
    border-radius: 44px;
    padding: 2px;
    background-color: rgba(var(--body-color), 0.24);
    transition: background 200ms ease 0s, box-shadow 200ms ease 0s;
    cursor: pointer;

    &.on {
        background-color: rgb(var(--button-bg));
        .octo-switch-inner {
            transform: translateX(12px) translateY(0px);
        }
    }

    .octo-switch-inner {
        width: 14px;
        height: 14px;
        border-radius: 44px;
        background: white;
        transition: transform 200ms ease-out 0s, background 200ms ease-out 0s;
        transform: translateX(0px) translateY(0px);
    }
}
