.ValueSelector {
    width: 100%;
    border-radius: var(--default-rad);
    color: rgb(var(--body-color));

    &:hover {
        background-color: rgba(var(--body-color), 0.1),
    }

    > .Label {
        margin: 0 10px;
        &.empty {
            color: rgba(var(--body-color), 0.6);
        }
    }

    .value-menu-option {
        display: flex;
        width: 100%;
        .label-container {
            flex-grow: 1;
        }
        .MenuWrapper {
            display: flex;
            align-self: flex-end;
            .IconButton {
                background-color: unset;
                &:hover {
                    background-color: rgba(var(--body-color), 0.1);
                }
            }
        }
    }
}
