.ValueSelector {
    width: 100%;
    border-radius: var(--default-rad);
    color: rgb(var(--center-channel-color-rgb));
    display: flex;

    > .Label {
        margin: 0 10px;
        max-width: calc(100% - 10px);

        &.empty {
            color: rgba(var(--center-channel-color-rgb), 0.6);
        }
    }

    .Label {
        display: flex;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius: var(--default-rad);
        max-width: 100%;

        .IconButton.delete-value {
            width: 16px;
            min-width: 16px;
            height: 16px;
            z-index: 1;
            
            i {
                font-size: 16px;
            }
        }
    }

    .Label-no-padding {
        padding-top: 0;
        padding-bottom: 0;
    }

    .Label-no-margin {
        margin: 0;
    }

    .Label-single-select {
        margin-bottom: 0;
    }

    .Label-text {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 250px;
    }

    .value-menu-option {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .label-container {
            flex-grow: 1;
            display: flex;
        }

        .MenuWrapper {
            display: flex;
            align-self: flex-end;

            .IconButton {
                background-color: unset;

                &:hover {
                    background-color: rgba(var(--center-channel-color-rgb), 0.1);
                }
            }
        }
    }

    div:nth-child(3) {
        div {
            overflow-y: unset;
            overflow-x: unset;
        }
    }
}

.label-container > .Label {
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;


}

.octo-property-value > .Label {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
