.blockSearchResult {
    display: flex;
    gap: 12px;
    overflow: hidden;
    flex-direction: row;

    .CompassIcon {
        font-size: 18px;
        color: #484848;
    }

    .toolbar {
        padding: 4px;
    }

    span {
        display: inline-block;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
