.blockSearchResult {
    display: flex;
    gap: 12px;
    overflow: hidden;
    flex-direction: row;
    width: 100%;

    .CompassIcon {
        font-size: 18px;
        color: rgba(var(--center-channel-color-rgb), 0.56);
    }

    .toolbar {
        padding: 4px;
    }

    span {
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .resultTitle {
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .teamTitle {
        right: auto;
        margin-left: auto;
        color: rgba(var(--center-channel-color-rgb), 0.56);
        flex: 1;
        text-align: right;
    }


    .categoryTitle,
    .teamTitle {
        max-width: 20%;
        width: max-content;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .categoryTitle {
        margin-left: auto;
        flex: 2;
        text-align: right;
    }

    .resultTitle {
        flex: 6;
    }
}
