.Option {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:first-child {
        margin-top: 8px;
    }

    &:last-child {
        margin-bottom: 8px;
    }

    &.focused {
        background-color: rgba(var(--button-bg-rgb), 0.08);
    }

    .workspaceTitle {
        color: rgb(var(--center-channel-color-rgb));
        font-size: 14px;
    }

    .boardCount {
        color: rgba(var(--center-channel-color-rgb), 0.56);
        font-size: 12px;
    }
}

.WorkspaceOptions {
    font-weight: 400;

    &__menu-list {
        padding-bottom: 0 !important;

        > div {
            height: 56px;
            display: flex;
            justify-content: center;

            &.focused {
                background: rgba(var(--center-channel-color-rgb), 0.08);
            }
        }
    }

    &__placeholder {
        color: rgba(var(--center-channel-color-rgb), 0.64);
    }

    &__indicators {
        color: rgba(var(--center-channel-color-rgb), 0.64);
        font-size: 18px;
    }

    &__value-container {
        padding: 4px 2px !important;
    }

    &__control {
        flex-direction: row-reverse;
        box-shadow: 0 0 0 1px rgba(var(--center-channel-color-rgb), 0.16);
        padding: 0 12px;
        border: 0 !important;

        &--is-focused {
            box-shadow: 0 0 0 2px rgba(var(--button-bg-rgb)) !important;
        }
    }

    &__menu {
        position: relative !important;
        margin-top: 0 !important;
        box-shadow: none !important;
        border: 0 !important;
        margin: 0 -16px;
        width: auto !important;
        margin-bottom: 0 !important;
    }

    &__input {
        color: rgb(var(--center-channel-color-rgb)) !important;
    }

    &__control,
    &__menu {
        background-color: transparent !important;
    }

    &__value-container {
        cursor: text !important;
    }

    &__indicators {
        cursor: pointer !important;
    }
}
