.workspaceOption {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:first-child {
        margin-top: 8px;
    }

    &:last-child {
        margin-bottom: 8px;
    }

    &.focused {
        background-color: rgba(var(--button-bg-rgb), 0.08);
    }

    .workspaceTitle {
        color: rgba(var(--center-channel-color-rgb), 0.9);
        font-size: 14px;
    }

    .boardCount {
        color: rgba(var(--center-channel-color-rgb), 0.7);
        font-size: 10px;
        text-transform: uppercase;
    }
}

.WorkspaceOptions__indicators {
    color: rgba(var(--center-channel-color-rgb), 0.9);
    font-size: 18px;
}

.WorkspaceOptions__indicators {
    color: black;
    font-size: 18px;
    border: 2px solid var(--link-color);
    border-left: none;
    border-radius: 0 4px 4px 0;
}
.WorkspaceOptions__control {
    border-radius: 4px 4px 0 0 !important;
    border-bottom: none;
    border-color: rgb(204, 204, 204) !important;
    box-shadow: none !important;
    padding: 12px 16px 0;
    border-bottom: none !important;
}
.WorkspaceOptions__menu {
    margin-top: 0 !important;
    border-radius: 0 0 4px 4px !important;
    border-top: none;
    box-shadow: none !important;
}

.WorkspaceOptions__value-container {
    border: 2px solid var(--link-color);
    border-right: none;
    border-radius: 4px 0 0 4px;
}
