@-moz-document url-prefix('') {
    .MenuOption .TextOption .menu-option .bold-menu-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        height: 32px;
        padding: 4px 20px;
        cursor: pointer;
    }

    .bold-menu-text {
        div:first-child {
            opacity: 0.56;
            width: 18px;
            height: 18px;
        }
    }
}
