.ViewHeader {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;

    border-bottom: solid 1px rgba(var(--center-channel-color-rgb), 0.16);
    margin: 16px 0 0;
    padding: 12px 8px;
    color: rgba(var(--center-channel-color-rgb), 0.64);
    align-items: center;

    > div {
        margin-right: 16px;
        white-space: nowrap;

        &:last-child {
            margin: 0;
        }
    }

    #groupByLabel {
        margin-left: 0.3em;
    }

    .IconButton {
        background: none;
        padding: 0;

        .Icon {
            width: 24px;
            height: 24px;
            margin: 0;
        }

        &:hover {
            background: rgba(var(--center-channel-color-rgb), 0.1);
        }
    }

    .octo-spacer {
        flex: 1;
    }
}
