.ViewHeader {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;

    border-bottom: solid 1px rgba(var(--center-channel-color-rgb), 0.16);
    margin: 16px 0 0;
    padding: 12px 8px;
    color: rgba(var(--center-channel-color-rgb), 0.64);
    align-items: center;

    @media (max-width: 768px) {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    > div {
        margin-right: 12px;
        white-space: nowrap;

        &:last-child {
            margin: 0;
        }
    }

    #groupByLabel {
        margin-left: 0.3em;
    }

    .IconButton {
        background: none;
        padding: 0;

        .Icon {
            width: 24px;
            height: 24px;
            margin: 0;
        }

        &:hover {
            background: rgba(var(--center-channel-color-rgb), 0.1);
        }
    }

    .viewSelector {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 6px 8px;
        margin: -8px;

        .MenuWrapper {
            display: flex;
            align-items: center;
        }
    }
}
