<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>

	<link rel="stylesheet" href="/static/easymde.min.css">
</head>

<body>
	<div id="octo-tasks-app">
	</div>

	<div id="root-portal">
	</div>
</body>

</html>
