.WelcomePage {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 40px;
    text-align: center;

    > div {
        max-width: 808px;
        width: 100%;
        padding: 0;

        @media (min-width: 2000px) {
            max-width: 1120px;
        }
    }

    .Button {
        display: inline-flex;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .skip {
        margin-top: 12px;
        color: rgba(var(--link-color-rgb), 1);
        cursor: pointer;

        &:hover {
            background: none;
        }
    }
}

.WelcomePage__image {
    max-width: 100%;
    width: 808px;
    display: none;

    &--small {
        margin: 24px auto 32px;
        display: block;
    }

    @media (min-width: 2000px) {
        width: 1120px;

        &--small {
            display: none;
        }

        &--large {
            margin: 48px auto;
            display: block;
        }
    }
}

.WelcomePage__subtitle {
    font-size: 16px;
    line-height: 1.6;

    @media (min-width: 2000px) {
        font-size: 20px;
    }
}
