<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title> {{ .Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> {{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">{{ end }} {{ with .Site.Params.description }}
<meta name="description" content="{{ . }}">{{ end }} {{ with .Site.LanguageCode }}
<meta http-equiv="content-language" content="{{ . }}" />{{ end }}

<!-- canonical link tag -->
{{ if .Params.canonicalUrl }}
<link rel="canonical" href="{{ .Params.canonicalUrl }}">
{{ else }}
<link rel="canonical" href="{{ .Permalink }}">
{{ end }}

<link rel="shortcut icon" type="image/png" href="{{ "img/favicon-32x32.png" | absURL }}" />

<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Noto+Sans:wght@300;400&display=swap" rel="stylesheet">

<!-- Lottie player -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<!-- CSS  -->
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/tabs.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/bar.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/styles.css" | absURL }}?version=v9">
<link rel="stylesheet" href="{{ "css/code.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/note.css" | absURL }}">

<script async defer src="https://buttons.github.io/buttons.js"></script>
<script async src="//cdn.bizible.com/scripts/bizible.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-64458817-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-64458817-2');
</script>

<!-- Lucky Orange Tracking -->
<script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=62fa07bd"></script>

<!-- Marketo Munchkin Tracking code for Marketing Team -->
<script type="text/javascript">
    (function() {
    var didInit = false;
    function initMunchkin() {
    if(didInit === false) {
    didInit = true;
    Munchkin.init('161-FBE-733');
    }
    }
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//munchkin.marketo.net/munchkin.js';
    s.onreadystatechange = function() {
    if (this.readyState == 'complete' || this.readyState == 'loaded') {
    initMunchkin();
    }
    };
    s.onload = initMunchkin;
    document.getElementsByTagName('head')[0].appendChild(s);
    })();
</script>

<!-- Engagio Tracking code for Marketing Team -->
<script type="text/javascript" charset="utf-8">
    var _eiq = _eiq || [];
    var _engagio_settings = {
      accountId: "cb6a404b72e9141b70d1f82abc04db92b4e56238"
    };
    (function() {
      var ei = document.createElement('script'); ei.type = 'text/javascript'; ei.async = true;
      ei.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'web-analytics.engagio.com/js/ei.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ei, s);
    })();
  </script>
