<div class="homepage__intro homepage__section">
	<div class="container-fluid">
		<div class="homepage-intro__text text-left">
			<h1>
				Project & Task Management for Software Development Teams
			</h1>

			<p>
				Focalboard is an open source alternative to tools like Asana, Trello, and Notion. Available as a
				stand-alone application or integrated into the Mattermost platform, Focalboard helps developers stay
				aligned to complete tasks, reach milestones, and achieve their goals.
			</p>
		</div>

		<p class="text-center">
			<a href="download/personal-edition">
				<img src="https://user-images.githubusercontent.com/46905241/121941290-ee355280-cd03-11eb-9b9f-f6f524e4103e.gif"
					style="width: 100%; max-width: 1200px" />
			</a>
		</p>
		{{ if .Site.Params.search.enable }}
		<div class="homepage-search row">
			<div class="homepage-search__input col-sm-9">
				<img src="img/search-icon.svg" width="24px" height="24px" alt="Search icon">
				<input type="text" class="transparent" placeholder="Search developer documentation">
			</div>
			<div class="homepage-search__button col-sm-3">
				<input type="button" class="btn btn-white btn-shadow form-control" value="Get Started">
			</div>
		</div>
		{{ end }}
	</div>
</div>