<div class="homepage__intro">
    <div class="container-fluid">
		<div class="homepage-intro__text text-left mt-4 mb-4">
			<h2>
				Focalboard is an open source, self-hosted alternative to Trello, Notion, and Asana.
			</h2>

			<p>
				It's a project management tool that helps define, organize, track and manage work across teams, using a familiar kanban board view. Focalboard comes in two editions:
			</p>

			<div class="text-left">
				<ul >
					<li><b><a href="https://www.focalboard.com/download/personal-edition/desktop/">Focalboard Personal Desktop</a></b>: A stand-alone desktop app for your todos and personal projects</li>
					<li><b><a href="https://www.focalboard.com/download/personal-edition/ubuntu/">Focalboard Personal Server</a></b>: A self-hosted server for your team to collaborate</li>
				</ul>
			</div>
		</div>

		<p class="text-center">
			<a href="download/personal-edition">
				<img src="https://user-images.githubusercontent.com/46905241/121941290-ee355280-cd03-11eb-9b9f-f6f524e4103e.gif" style="width: 100%; max-width: 1200px" />
			</a>
		</p>

		<div class="homepage-intro__text">
			<p>
				We're currently in early-access beta, and are looking for feedback. So please <a href="download/personal-edition/">download it today</a> and <a href="https://docs.google.com/forms/d/e/1FAIpQLSdTq7M69Pdlz71CwucaSEG0FCK1M_WRvIbZbPr2imfT2QvUCQ/viewform?usp=sf_link" target="_blank" rel="noopener">let us know what you think</a>.
			</p>

			<p>
				Focalboard is open source! <a href="https://github.com/mattermost/focalboard" target='_blank'>Check out the source code here</a>, and contribute to the future of this project.
			</p>
		</div>

		{{ if .Site.Params.search.enable }}
			<div class="homepage-search row">
				<div class="homepage-search__input col-sm-9">
					<img src="img/search-icon.svg" width="24px" height="24px" alt="Search icon">
					<input type="text" class="transparent" placeholder="Search developer documentation">
				</div>
				<div class="homepage-search__button col-sm-3">
					<input type="button" class="btn btn-white btn-shadow form-control" value="Get Started">
				</div>
			</div>
		{{ end }}
    </div>
</div>
