{{ if .Site.Params.notification.enable }}
<header class="with-notification-bar">
{{ else }}
<header>
{{ end }}
    <div class="container">
        <a href="/"><img class='header__logo' src="/img/logo.svg?version=v3" alt="Logo" width="180"></a>
        <div class="header__menu-toggle">
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
        </div>
        <ul class="header__links--right">
            {{ range .Site.Menus.postpend }}
                <li><a class="external" rel="noopener" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            <li class='header__feedback'>
                <a target='_blank' href='https://github.com/mattermost/focalboard'><button class='btn btn-primary'>Get started</button></a>
            </li>
        </ul>
    </div>
</header>

{{ partial "notification.html" .}}
