{{ if .Site.Params.notification.enable }}
<header class="with-notification-bar">
{{ else }}
<header>
{{ end }}
    <div class="container nav-2">
        <a href="/"><img src="/img/logo.svg?version=v2" alt="Logo" width="212px"></a>
        <div class="header__menu-toggle">
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
        </div>
        <ul class="header__links--right">
            {{ range .Site.Menus.postpend }}
                <li><a class="external" rel="noopener" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</header>

{{ partial "notification.html" .}}
