{{ if .Site.Params.notification.enable }}
<header class="with-notification-bar">
{{ else }}
<header>
{{ end }}
    <div class="container nav-2">
        <a href="/"><img src="/img/logo.svg" alt="Logo" width="212px"></a>
        <div class="header__menu-toggle">
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
        </div>
        <ul class="header__links--right">
            {{ range .Site.Menus.postpend }}
                {{ $drafts := index $.Site.Params.navigation.drafts 0}}
                {{ $draft := index $drafts .Name }}
                {{ if or (eq $.Site.BuildDrafts true) (eq $draft false) }}
                    {{ if eq (lower .Name) $.Section }}
                        <li class="active"><a href="{{ .URL }}">{{ .Name | markdownify }}</a></li>
                    {{ else }}
                        <li><a href="{{ .URL }}">{{ .Name | markdownify }}</a></li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
    </div>
</header>

{{ partial "notification.html" .}}
