.BlockIconSelector {
    .octo-icon {
        display: flex;
        line-height: 1.1;
        margin-left: 0;
        color: #000000;
	    border-radius: 5px;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: rgba(var(--main-fg), 0.1);
        }
        &.size-s {
            height: 24px;
            width: 24px;
            font-size: 20px;
        }
        &.size-m {
            height: 48px;
            width: 48px;
            font-size: 36px;
        }
        &.size-l {
            height: 78px;
            width: 78px;
            font-size: 64px;
        }
        span {
            display: block;
        }
    }
}
