.Dialog {
    &.cardDialog {
        .dialog {
            @media not screen and (max-width: 975px) {
                width: 800px;
                max-width: 100%;
            }
        }
    }
}

.cardFollowBtn {
    display: inline-flex;

    &--attach {
        margin-right: 8px;
    }
}
