.CardDetail {
    .title {
        width: 100%;
    }

    .octo-hovercontrols {
        .Button {
            display: none;
        }
        &:hover {
            .Button {
                display: block;
            }
        }
    }

    .octo-card-icon {
        height: 78px;
        min-width: 78px;
        font-size: 78px;
        line-height: 1.1;
        margin-left: 0;
        color: #000000;
    }

    .octo-propertylist {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .octo-propertyrow {
        display: flex;
        flex-direction: row;
        margin: 8px 0;
        .MenuWrapper {
            display: flex;
            align-items: center;
        }
    }

    .octo-propertyname {
        text-align: left;
        width: 150px;
        margin-right: 5px;
        color: #909090;
        color: rgba(var(--main-fg), 0.6);
        &.add-property {
            color: rgba(var(--main-fg), 0.4);
        }
    }
}
