.Dialog {
    &.cardDialog {
        .dialog {
            @media not screen and (max-width: 975px) {
                width: 800px;
                max-width: 100%;
            }
        }
    }
}

.cardFollowBtn {
    float: right;
    height: 100%;

    &.follow {
        color: rgba(var(--center-channel-color-rgb), 0.64);
        background-color: rgba(var(--center-channel-color-rgb), 0.08);
    }

    &.unfollow {
        color: rgb(var(--button-bg-rgb));
        background-color: rgba(var(--button-bg-rgb), 0.08);
    }
}
