.CenterPanel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .octo-board {
        flex: 0 1 auto;

        display: flex;
        flex-direction: column;
    }
}


.BoardComponent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > * {

        padding: 0 80px;

        @media screen and (max-width: 768px) {
            padding: 0 40px;
        }

        &:first-child {
            padding-top: 24px;
            @media screen and (max-width: 768px) {
                padding: 0 8px;
            }
        }

        &:last-child {
            padding-bottom: 8px;
        }
    }

    > .top-head {
        position: sticky;
        top: 0;
        left: 0;
        background: rgb(var(--center-channel-bg-rgb));
        z-index: 100;

        > .mid-head {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .ViewTitle {
            flex: 1;
            padding-right: 16px;
        }
    }


    > div:nth-child(2) {
        padding: 0 0 0 1px;
        margin-left: 80px;

        @media (max-width: 768px) {
            margin-left: 0;
            padding-left: 20px;
            -webkit-overflow-scrolling: touch;
        }
    }

    .shareButtonWrapper {
        position: relative;
        flex: 0 0 auto;
    }
}
