@import '../styles/z-index';

.CenterPanelPages {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .octo-board {
        flex: 0 1 auto;

        display: flex;
        flex-direction: column;
    }

}

.RootInput__menu {
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    /* Elevation 4 */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.RootInput__option {
    padding: 0;
}

.slash-command {
    display: flex;
    align-items: flex-start;
    padding: 1rem 2.4rem;
    margin: 0 !important;

    &:first-child {
        margin: 12px 0 0 !important;
    }
}

.slash-command__icon {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    flex: 0 0 3.2rem;
    align-items: center;
    justify-content: center;
    background: rgba(var(--center-channel-color-rgb), 0.08);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;

    span {
        opacity: 0.56;
    }
}

.slash-command__info {
    margin-left: 12px;
    line-height: 1;
}

.slash-command__desc {
    margin: 2px 0 0;
    font-size: 12px;
    line-height: 1.6;
    opacity: 0.56;
}


.PageComponent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    >* {
        padding: 0 32px;

        @media screen and (max-width: 768px) {
            padding: 0 40px;
        }

        &:first-child {
            padding-top: 8px;

            @media screen and (max-width: 768px) {
                padding: 0 8px;
            }
        }

        &:last-child {
            padding-bottom: 8px;
        }
    }

    >.content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 768px;
        justify-content: center;

        >.doc-header {
            display: flex;
            align-items: center;
            margin-top: 32px;

            .pages-breadcrumbs {
                flex-grow: 1;
            }
            .page-breadcrumb {
                cursor: pointer;
            }
        }

        >.BlocksEditor {
            position: relative;
            width: 100%;

            .Editor {
                margin-left: 0;

                input {
                    padding: 0;
                }

                .H1 {
                    margin-top: 20px;
                    margin-bottom: 10px;
                    font-family: Metropolis, sans-serif;
                    font-size: 36px;
                }
            }
        }

        >.PageTitle {
            .Editable {
                font-size: 36px;
            }

            >div {
                align-items: center;
            }
        }

        >.properties {
            @include z-index(center-panel);
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;

            &:empty {
                display: none;
            }

            .octo-propertyrow {
                display: flex;
                align-items: center;
                border-left: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
                margin-right: 12px;
                padding-left: 12px;
                gap: 4px;
                margin-bottom: 8px;

                &:first-child {
                    margin-left: -10px;
                    padding-left: 0;
                    border: 0;
                }

                .Label {
                    margin: 0;
                }
            }
        }

        .RootInput__control {
            box-shadow: none;
        }

        .RootInput__value-container {
            padding: 0;
        }

        >.page-author {
            margin-top: 16px;
            margin-bottom: 24px;
            display: flex;

            >.person {
                display: flex;
                flex-grow: 1;
                align-items: center;
                color: rgba(var(--center-channel-color-rgb), 0.5);

                img {
                    border-radius: 50px;
                    width: 24px;
                    height: 24px;
                    margin-right: 6px;
                }

                b {
                    color: rgba(var(--center-channel-color-rgb), 1);
                    margin: 0 3px;
                }
            }
        }

        &.expanded {
            max-width: 100%;
        }
    }

    >.top-head {
        @include z-index(modal-permissions-label);
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        background: rgb(var(--center-channel-bg-rgb));
        padding: 0;

        >.mid-head {
            margin-top: 0;
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.1);

            >div {
                margin: 10px;
            }

            .formatting {
                flex-grow: 1;
                display: flex;
                align-items: center;
                color: rgba(var(--center-channel-color-rgb), 0.5);

                .CompassIcon {
                    cursor: pointer;
                }

                .divider {
                    border-left: 1px solid rgba(var(--center-channel-color-rgb), 0.1);
                    height: 18px;
                    width: 0;
                    margin: 0 8px;
                }
            }

            .Button {
                .CompassIcon: {
                    color: rgba(var(--center-channel-color-rgb), 0.5);
                    font-size: 18px;
                }
            }
        }
    }


    >div:nth-child(2) {
        padding: 0 32px 48px;

        @media (max-width: 768px) {
            margin-left: 0;
            padding-left: 20px;
            -webkit-overflow-scrolling: touch;
        }
    }

    .shareButtonWrapper {
        position: relative;
        flex: 0 0 auto;
    }

    .NotificationBox {
        .AlertIcon {
            color: #ffbc1f;
            font-size: 24px;
        }
    }
}
