.ContentBlock {
    .MenuWrapper {
        display: none;
    }
    &:hover {
        .MenuWrapper {
            display: flex;
        }
    }
    > * {
        flex: 1 1 auto;
    }
    > .octo-block-margin {
        flex: 0 0 auto;
    }
}
