.Dialog {
    &.dialog-back {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
    }

    .wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--body-color), 0.5);
    }

    .dialog {
        display: flex;
        flex-direction: column;
        background-color: rgb(var(--main-bg));
        box-shadow: rgba(var(--body-color), 0.1) 0px 0px 0px 1px,
            rgba(var(--body-color), 0.1) 0px 2px 4px;
        border-radius: var(--modal-rad);
        padding: 0;

        overflow-x: hidden;
        overflow-y: auto;

        @media not screen and (max-width: 975px) {
            margin: 72px auto;
            max-width: 975px;
            height: calc(100% - 144px);

            .hideOnWidescreen {
                /* Hide elements on larger screens */
                display: none !important;
            }
        }
        @media screen and (max-width: 975px) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        > * {
            flex-shrink: 0;
        }
        > .banner {
            background-color: rgba(230, 220, 192, 0.9);
            text-align: center;
            padding: 10px;
            color: #222;
        }

        > .banner.error {
            background-color: rgba(230, 192, 192, 0.9);
        }

        > .toolbar {
            display: flex;
            flex-direction: row;
            padding: 16px;
        }
        > .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media not screen and (max-width: 975px) {
                padding: 10px 126px;
            }
            @media screen and (max-width: 975px) {
                padding: 10px 10px;
            }
        }
        > .content.fullwidth {
            padding: 10px 0 10px 0;
        }
    }
}
