.EmptyCenterPanel {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 80px;
    font-size: 15px;
    color: rgba(var(--center-channel-color-rgb));

    .WorkspaceInfo {
        b {
            padding-left: 5px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        .title {
            font-size: 25px;
            color: var(--sys-center-channel-color);
            margin-bottom: 12px;
        }

        .description {
            text-align: center;
            margin-bottom: 32px;
            color: var(--sys-center-channel-color);
        }

        .choose-template-text {
            color: var(--center-channel-color);
            font-weight: 600;
        }

        .button-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .button {
            display: flex;
            justify-items: center;
            align-items: center;
            padding: 16px 32px;
            border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
            box-sizing: border-box;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            margin: 20px;
            max-width: 300px;

            span {
                margin-right: 10px;
            }

            .button-title {
                font-weight: 600;
                margin-right: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            svg {
                display: flex;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .new-template {
            border: transparent;
            box-shadow: none;
            color: var(--button-bg);

            i {
                background: var(--button-bg);
                color: var(--button-color);
                margin: 0;
            }
        }

    }
}
