.FilterComponent {
	min-width: 430px;

    .octo-filterclause {
        display: flex;
        flex-direction: row;
        > div {
            display: flex;
            flex-direction: row;
        }
    }
}
