/* Markdown Editor */

.MarkdownEditor {
    cursor: text;
    /* CodeMirror / SimpleMDE / EasyMDE overrides */

    .CodeMirror {
        padding: 0;
        min-height: 0;
        background: var(--center-channel-bg-rgb);
        color: var(--center-channel-color-rgb);
    }

    pre.CodeMirror-line {
        padding: 0;
        word-break: break-word;
    }

    .CodeMirror-code {
        line-height: 24px;
    }

    .CodeMirror-lines {
        padding: 0;
    }

    .CodeMirror,
    .CodeMirror-scroll {
        flex: 1;
        min-height: 0;
        line-height: 1.3;
        border: 0;
    }

    .CodeMirror-cursor {
        border-left: 2px solid var(--cursor-color);
    }

    .CodeMirror-selected {
        background: rgba(147, 204, 231, 0.8) !important;
    }

    .CodeMirror-scroll {
        overflow: hidden !important;
    }
    /* hide the scrollbars */
    .CodeMirror-vscrollbar,
    .octo-editor .CodeMirror-hscrollbar {
        display: none !important;
    }

    .octo-editor-preview {
        p {
            margin: 0;
            min-height: 32px;
            word-break: break-word;
        }
    }

    /* .dialog .octo-editor-preview {
        min-height: 100px;
    } */

    .octo-editor-activeEditor {
        overflow: hidden;
        border-radius: 5px;
    }
}
