.Modal {
    position: absolute;
    top: 25px;
    left: -230px;
    z-index: 10;

	min-width: 430px;
	box-shadow: rgba(var(--main-fg), 0.1) 0px 0px 0px 1px, rgba(var(--main-fg), 0.1) 0px 2px 4px;
	background-color: rgb(var(--main-bg));
	padding: 10px;

    @media screen and (max-width: 430px) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 0;
    }

    @media not screen and (max-width: 430px) {
        &.top {
            top: auto;
            bottom: 25px;
            left: 25px;
        }
    }

    .hideOnWidescreen {
        /* Hide controls (e.g. close button) on larger screens */
        @media not screen and (max-width: 430px) {
            display: none !important;
        }
    }
    > .toolbar {
        display: flex;
        flex-direction: row;
        height: 30px;
        margin-bottom: 10px;
    }
}
