.Sidebar {
    flex: 0 0 230px;

	display: flex;
	flex-direction: column;

	min-height: 100%;
	color: rgb(var(--sidebar-fg));
	background-color: rgb(var(--sidebar-bg));
	padding: 10px 0;

    &.hidden {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
        min-height: 0;
        height: 50px;
        width: 50px;
        background: none;
        padding: 0;
        > div {
            padding: 0;
            margin: auto;
        }
    }

    .octo-sidebar-header {
        display: flex;
        flex-direction: row;

        font-weight: 600;
        padding: 3px 20px;
        margin-bottom: 5px;
        .IconButton {
            background-color: var(--sidebar-bg);
            &:hover {
                background-color: rgba(var(--sidebar-fg), 0.1);
            }
        }
        &.show-button {
            .hamburger-icon {
                display: block;
            }
            .show-icon {
                display: none;
            }
            &:hover {
                .hamburger-icon {
                    display: none;
                }
                .show-icon {
                    display: block;
                }
            }
        }
    }

    .octo-sidebar-item {
        display: flex;
        flex-direction: row;

        font-weight: 500;
        padding: 3px 20px;
        &:hover {
            background-color: rgba(var(--sidebar-fg), 0.05);
        }
        &.subitem {
            color: rgba(var(--sidebar-fg), 0.6);
            font-weight: 400;
            margin-left: 20px;
        }
        &.no-views {
            color: rgba(var(--sidebar-fg), 0.4);
            &:hover {
                background-color: rgba(var(--sidebar-bg));
            }
        }

        .IconButton {
            background-color: var(--sidebar-bg);
            &:hover {
                background-color: rgba(var(--sidebar-fg), 0.1);
            }
        }
        .MenuWrapper {
            display: none;
        }
        &:hover {
            display: flex;
            .MenuWrapper {
                display: block;
            }
        }

        &.expanded {
            .SubmenuTriangleIcon {
                transform: rotate(90deg);
            }
        }
        .SubmenuTriangleIcon {
            transition: 200ms ease-in-out;
            transform: rotate(0deg);
        }
    }

    .octo-sidebar-title {
        cursor: pointer;
        flex-grow: 1;
    }

    .OptionsIcon, .SubmenuTriangleIcon, .DotIcon {
        fill: rgba(var(--sidebar-fg), 0.5);
    }

    .HideSidebarIcon {
        stroke: rgba(var(--sidebar-fg), 0.5);
        stroke-width: 6px;
    }
}
