.Sidebar {
    flex: 0 0 240px;

    display: flex;
    flex-direction: column;

    min-height: 100%;
    color: rgb(var(--sidebar-fg));
    background-color: rgb(var(--sidebar-bg));
    padding: 12px 0;

    &.hidden {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        min-height: 0;
        height: 50px;
        width: 50px;
        background: none;
        padding: 0;

        >div {
            padding: 0;
            margin: auto;
        }
    }

    >* {
        flex: 0 0 auto;
    }

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        .LogoWithNameIcon, .LogoWithNameWhiteIcon {
            max-height: 24px;
            width: auto;
        }

        .version {
            font-size: 11px;
            font-weight: 500;
            color: rgba(var(--sidebar-fg), 0.8);
        }
    }

    .octo-sidebar-list {
        flex: 1 1 auto;
        overflow-y: auto;
        max-width: 250px;

        >div {
            margin-bottom: 16px;
        }
    }

    .octo-sidebar-header {
        display: flex;
        flex-direction: row;

        font-weight: 600;
        padding: 3px 20px;
        margin-bottom: 16px;
        height: 48px;
        align-items: center;

        &:hover {
            background-color: rgba(var(--sidebar-fg), 0.08);
        }

        button {
            font-size: 16px;
            font-weight: 600;
        }

        >.heading {
            line-height: 30px;
            cursor: default;
            flex-grow: 1;
        }

        >.IconButton {
            background-color: var(--sidebar-bg);

            &:hover {
                background-color: rgba(var(--sidebar-fg), 0.1);
            }
        }

        &.show-button {
            .hamburger-icon {
                display: block;
            }

            .show-icon {
                display: none;
            }

            &:hover {
                .hamburger-icon {
                    display: none;
                }

                .show-icon {
                    display: block;
                }
            }
        }
    }

    .octo-sidebar-item {
        display: flex;
        flex-direction: row;
        font-weight: 500;
        padding: 0 16px 0 8px;
        height: 36px;
        align-items: center;

        &:hover {
            background-color: rgba(var(--sidebar-fg), 0.08);
        }

        &.subitem {
            padding-left: 20px;
            color: rgba(var(--sidebar-fg), 0.64);
            font-weight: 400;
        }

        &.no-views {
            color: rgba(var(--sidebar-fg), 0.4);

            &:hover {
                background-color: rgba(var(--sidebar-bg));
            }
        }

        >.Icon {
            stroke: rgba(var(--sidebar-fg), 0.3);
            height: 14px;
            width: 14px;
            margin-right: 8px;
            flex-shrink: 0;
        }

        >.IconButton {
            background-color: var(--sidebar-bg);

            &:hover {
                background-color: rgba(var(--sidebar-fg), 0.1);
            }
        }

        .MenuWrapper {
            display: none;
        }

        &:hover {
            display: flex;

            .MenuWrapper {
                display: block;
            }
        }

        &.expanded {
            .DisclosureTriangleIcon {
                transform: rotate(90deg);
            }
        }

        .DisclosureTriangleIcon {
            transition: 200ms ease-in-out;
            transform: rotate(0deg);
        }
    }

    .octo-sidebar-title {
        font-weight: 600;
        cursor: pointer;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .OptionsIcon,
    .DisclosureTriangleIcon,
    .DotIcon {
        fill: rgba(var(--sidebar-fg), 0.5);
        flex-shrink: 0;
    }

    .Menu .OptionsIcon {
        fill: unset;
    }

    .HideSidebarIcon {
        stroke: rgba(var(--sidebar-fg), 0.5);
        stroke-width: 6px;
    }

    .Button {
        min-height: 30px;
    }
}
