.ViewTitle {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;

    &.octo-hovercontrols {
        .Button {
            display: none;
        }
        &.add-visible:hover {
            .Button {
                display: flex;
            }
        }
    }

    .BlockIconSelector {
        margin-right: 10px;
    }

    .Editable {
        margin-bottom: 0px;
    }
}
