.DashboardPage {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: auto;
    position: relative;

    h1 {
        font-size: 25px;
        font-weight: 600;
    }

    &__h4 {
        font-size: 16px;
    }

    &__workspace-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 32px;
        margin-top: 16px;
    }

    &__workspace {
        padding: 24px;
        width: 220px;
        min-width: 220px;
        max-width: 220px;
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
        box-sizing: border-box;
        /* Elevation 1 */

        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        cursor: pointer;
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__search {
        position: relative;
        font-size: 16px;
        height: 48px;

        input {
            width: 320px;
            height: 100%;
            padding: 0 16px 0 40px;
            border-radius: 4px;
            border: 0;
            box-shadow: 0 0 0 1px rgba(var(--center-channel-color-rgb), 0.24);

            &:focus {
                box-shadow: 0 0 0 2px rgba(var(--button-bg-rgb));
            }
        }

        .CompassIcon {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 12px;
            opacity: 0.64;
            font-size: 18px;
        }
    }

    &__content {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
    }

    &__workspace-container {
        overflow-y: auto;
    }

    &__emptyResult {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        overflow: hidden;
        padding: 24px 0 20px;
        width: 100%;

        h3 {
            margin: 40px 0 12px;
        }

        p {
            opacity: 0.6;
            font-size: 18px;
        }
    }
}

.DashboardCenterContent {
    width: 100%;
    padding: 48px;
    align-content: flex-start;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    //background: url('../../../static/onboardingBg.jpg');

    .text-heading2 {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
