/*New Footer*/

footer .container {
    padding: 4rem 0;
}

footer #footer-logo {
    grid-column: 1 / -1;
    max-width: 18.8rem;
    margin-bottom: 1.5rem;
}

footer.site-footer {
    background: linear-gradient(180deg, rgba(19, 30, 57, 0.9) 0%, var(--denim05) 20%);
    padding: 5rem 0rem;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (min-width: 992px) {
    footer #footer-logo {
        margin-bottom: 6.8rem;
    }
    footer.site-footer {
        padding: 10rem 0rem 5rem;
    }
}

footer.site-footer .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width: 1199.98px) {
    footer.site-footer .container {
        row-gap: 3rem;
        column-gap: 5rem;
    }
}

@media (min-width: 992px) {
    footer.site-footer .container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        column-gap: 3rem;
    }
}

footer.site-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer.site-footer .footer-menu__heading {
    color: var(--marigold03);
    font-family: var(--firaMono);
    font-size: 1.6rem;
}

footer.site-footer .footer-menu__single a {
    font-family: var(--tradeGothic);
}

footer.site-footer .footer-menu__single a,
footer.site-footer .footer-menu__single a:visited {
    color: #FFFFFF;
    font-size: 1.5rem;
    line-height: 2.7rem;
}

footer.site-footer .footer-menu__single a:hover,
footer.site-footer .footer-menu__single a:focus {
    color: var(--denim02);
}

footer.site-footer .footer-menu__single li {
    margin-bottom: 1rem;
}

footer.site-footer .footer-menu__single ul {
    margin-top: 1rem;
}

footer.site-footer a {
    text-decoration: none;
}

footer.site-footer small {
    font-family: var(--tradeGothic);
}

footer.site-footer small,
footer.site-footer small a {
    color: var(--denim01);
}

footer.site-footer .secondary-footer__copy {
    font-size: 1.5rem;
}

footer.site-footer .secondary-footer__copy a:hover,
footer.site-footer .secondary-footer__copy a:focus {
    color: var(--marigold03);
}

footer.site-footer .secondary-footer__copy small {
    display: block;
}

footer.site-footer small.footer__recaptcha {
    color: var(--denim01);
    line-height: 1;
}

footer.site-footer .secondary-footer__social li {
    display: inline-block;
}

footer.site-footer .secondary-footer__social li:hover svg path,
footer.site-footer .secondary-footer__social li:focus svg path {
    fill: var(--denim02);
}

@media (max-width: 991.98px) {
    footer.site-footer .secondary-footer__social li {
        width: 45%;
        margin-bottom: 2.5rem;
    }

    footer.site-footer .secondary-footer__social li img {
        width: 5rem;
    }
}

@media (max-width: 991.98px) {
    footer.site-footer .secondary-footer__copy {
        order: 6;
        grid-column: 1/span 2;
    }

    footer.site-footer .mm-copyright {
        display: block;
    }
}

@media (min-width: 992px) {

    footer.site-footer .secondary-footer__copy,
    footer.site-footer .secondary-footer__social {
        margin-top: 5rem;
    }

    footer.site-footer .secondary-footer__copy {
        grid-column: 1/span 3;
        place-self: end start;
    }

    footer.site-footer .secondary-footer__social {
        grid-column: 4/span 2;
        place-self: end end;
    }

    footer.site-footer .secondary-footer__social li {
        margin-left: 2.5rem;
    }
}
