.homepage {
    color: var(--denim05);
    font-size: 1.8rem;
}

.homepage header {
    position: fixed;
    z-index: 555;
}

.homepage #wrapper {
    overflow: hidden;
}

.homepage,
.homepage p {
    font-family: var(--tradeGothic);
}

.homepage__intro {
    overflow: hidden;
    background-color: var(--denim05);
    color: white;
    padding: 160px 0 64px;
    display: flex;
    align-items: center;
}

.homepage__intro .container-fluid {
    display: flex;
    align-items: center;
}

.homepage h1 {
    font-size: 56px;
    margin: 0 0 24px;
}

.homepage h2 {
    font-size: 48px;
    margin: 12px 0 24px;
}

.homepage-intro__text p {
    font-size: 18px;
}

.homepage-intro__text,
.homepage-intro__video {
    width: 50%;
}

.homepage-intro__video {
    padding-left: 80px;
}

.focalboard-tag {
    font-size: 18px;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-family: var(--tradeGothic);
}

.homepage-intro__github {
    margin-top: 24px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.homepage-intro__github i {
    font-size: 20px;
    margin-right: 6px;
    color: var(--marigold02);
}

/* Homepage Sections */

.section-half, .section-full {
    margin-top: 140px;
    position: relative;
}

.bgElementLeft {
    position: absolute;
    left: 0;
    top: 100px;
}

.bgElementRight {
    position: absolute;
    right: 0;
    top: 100px;
}

.bgElementCenter {
    position: absolute;
    top: 320px;
    margin-left: -360px;
}

@media (min-width: 1024px) {
    .section-half--reverse .section-half__container {
        flex-direction: row-reverse;
    }

    .section-half--reverse .section-half__visual {
        margin: 0 120px 0 0;
    }

    .homepage__intro {
        height: 970px;
    }
}

.section-half__container {
    max-width: 1384px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 32px;
}

.section-half__visual {
    position: relative;
    z-index: 5;
    margin-left: 120px;
}

.section-half__container > div:first-child {
    width: 40%;
    flex: 0 0 40%;
}

.section-half p {
    font-size: 18px;
    color: var(--black03);
}

.section-half video {
    border-radius: 8px;
    max-width: 720px;
    max-width: 100%;
}

@media (max-width: 1024px) {
    .section-half__container {
        flex-direction: column;
        width: 100%;
    }

    .bgElementLeft, .bgElementRight, .bgElementCenter {
        display: none;
    }

    .homepage__intro .container-fluid {
        flex-direction: column;
    }

    .homepage-intro__text,
    .homepage-intro__video {
        width: 100%;
    }

    .homepage-intro__video lottie-player {
        width: 600px !important;
        margin-top: 48px;
    }

    .section-half__container {
        gap: 40px;
    }

    .section-half__visual {
        margin-left: 0;
    }

    .section-half__container div, .section-half__container div:first-child {
        width: 100%;
    }
}


/* Tabs */

.image-shadow {
    box-shadow: var(--shadow-image);
}

.tabs-shadow {
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.08);
    width: 720px;
}


/* Help Section */

.help-section {
    margin: 140px 0 0;
    background-color: #F6F8FD;
    padding: 140px 0;
    margin-bottom: -5.5rem;
}

.help-section .section-half {
    margin: 0;
}


/* Feature Bullets */

.feature-bullets {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
    font-weight: bold;
    margin-top: 48px;
}

.feature-bullets div {
    text-align: left;
    padding: 10px 24px;
    background-image: url('../../img/check.svg');
    background-position: left center;
    background-repeat: no-repeat;
}

@media (max-width: 992px) {
    .feature-bullets {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 640px) {
    .feature-bullets {
        display: grid;
        grid-template-columns: auto;
    }
}

/* View Tabs */

.view-tabs {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.view-tabs button:not(.active) {
    background: rgba(var(--yellow), 0.12);
    color: var(--black03);
}

.view-content {
    background-color: white;
    border-radius: 12px;
    padding: 32px 32px 0;
    box-shadow: var(--shadow-image);
    height: 472px;
    overflow: hidden;
}

.view-content img {
    margin-bottom: 32px;
}

@media (max-width: 1024px) {
    .view-content {
        height: auto;
    }
}

/* video */

.align-video {
    box-shadow: var(--shadow-image);
    border-radius: 8px;
    overflow: hidden;
}

/* Roadmap Section */

.roadmap-section .section-half__container {
    background: rgba(246, 192, 34, 0.08);
    border-radius: 24px;
    padding-left: 100px;
    min-height: 812px;
}

.roadmap-section .section-half__visual img {
    max-width: initial;
    position: absolute;
    left: 0;
    top: -320px;
}

@media (max-width: 1024px) {
    .roadmap-section .section-half__container {
        padding: 64px 32px;
    }

    .roadmap-section .section-half__visual img {
        max-width: 100%;
        position: relative;
        top: initial;
    }
}

.homepage__threecol {
    margin-top: 80px;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 992px) {
    .homepage__threecol {
        grid-template-columns: repeat(1, 1fr);
    }
}

.homepage__threecol h4 {
    margin: 2rem 0;
    font-weight: 700;
}

@media (max-width: 1280px) {
    .homepage__threecol {
        flex-wrap: wrap;
    }
}
