.FocalboardUnfurl {
    display: block;
    padding: 16px;
    border: 1px solid rgba(61, 60, 64, 0.24) !important;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    width: 425px;
    text-decoration: none !important;
    color: inherit !important; 

    &:hover {
      cursor: pointer;
    }

    .header {
        display: flex;
        align-items: center;

        .icon {
            font-size: 36px;
        }

        .information {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            overflow: hidden;

            .card_title {
                color: #3D3C40;
                font-weight: 600;
                font-size: 14px;
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .board_title {
                color: rgba(61, 60, 64, 0.56);
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    .body {
        border: 1px solid rgba(61, 60, 64, 0.16);
        border-radius: 4px;
        margin-top: 16px;
        height: 145px;
        overflow: hidden;
        padding: 16px;
        white-space: nowrap;
    }

    .footer {
        display: flex;
        align-items: center;
        height: 40px;
        margin-top: 16px;

        .timestamp_properties {
            margin-left: 12px;
            max-width: 90%;

            .properties {
                display: flex;
                align-items: center;
                white-space: nowrap;

                .remainder {
                    color: rgba(61, 60, 64, 0.48);
                    font-weight: bold;
                    font-size: 14px;
                }

                .property {
                    border-radius: 4px;
                    padding: 2px 4px;
                    margin-right: 10px;
                    max-width: 33%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    overflow-wrap: normal;

                    &.propColorDefault {
                        background-color: var(--prop-default);
                    }
                    
                    &.propColorGray {
                        background-color: var(--prop-gray);
                    }
                    
                    &.propColorBrown {
                        background-color: var(--prop-brown);
                    }
                    
                     &.propColorOrange {
                        background-color: var(--prop-orange);
                    }
                    
                    &.propColorYellow {
                        background-color: var(--prop-yellow);
                    }
                    
                    &.propColorGreen {
                        background-color: var(--prop-green);
                    }
                    
                    &.propColorBlue {
                        background-color: var(--prop-blue);
                    }
                    
                    &.propColorPurple {
                        background-color: var(--prop-purple);
                    }
                    
                    &.propColorPink {
                        background-color: var(--prop-pink);
                    }
                    
                     &.propColorRed {
                        background-color: var(--prop-red);
                    }
                }
            }
        }
    }
}
