.EditableLabel {
    input {
        border: none;
        background: none;
        border-bottom: 1px solid;
        border-radius: 0;
        max-width: 100%;
        text-transform: uppercase;
    }
}