.BoardTemplateSelectorPreview {
    position: relative;
    transform-origin: top left;
    transform: scale(0.8);
    width: 126%;
    height: 480px;
    border-radius: var(--modal-rad);
    pointer-events: none;

    .Kanban {
        overflow: hidden;
    }
}
