.focalboard-body .SubMenuOption {
    position: relative;

    .SubMenu {
        position: absolute;
        z-index: 16;
        min-width: 180px;
        background-color: rgb(var(--main-bg));
        color: rgb(var(--body-color));
        margin: 0 !important;

        border-radius: 3px;
        box-shadow: rgba(var(--body-color), 0.05) 0px 0px 0px 1px,
            rgba(var(--body-color), 0.1) 0px 3px 6px,
            rgba(var(--body-color), 0.2) 0px 9px 24px;
        left: 100%;
        &.top {
            bottom: 0;
        }
        &.bottom {
            top: 0;
        }
    }

    @media screen and (max-width: 430px) {
        .SubMenu {
            background-color: rgba(var(--body-color), 0.8) !important;
        }
    }
}
