.BlockContent {
    display: flex;
    align-items: center;
    position: relative;

    p {
        margin: 0;
    }

    &.over-up {
        border-top: 1px solid rgba(128, 192, 255, 0.4);
    }

    &.over-down {
        border-bottom: 1px solid rgba(128, 192, 255, 0.4);
    }

    &:hover {
        .block-actions {
            opacity: 1;
        }
    }

    .block-actions {
        transition: opacity 0.3s;
        display: flex;
        opacity: 0;
        position: absolute;
        left: -72px;
    }

    .content {
        flex-grow: 1;
    }
}
