
.tutorial-tour-tip {
    display: flex;

    &__box {
        &.tippy-box {
            padding: 18px 24px 24px;
            border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
            background: var(--center-channel-bg);
            border-radius: 4px;
            color: var(--center-channel-color-rgb);

            .tippy-content {
                padding: 0;
            }

            .tippy-arrow {
                border-color: rgba(var(--center-channel-color-rgb), 0.16);
                color: var(--center-channel-bg);
            }
        }
    }

    &__pulsating-dot-ctr {
        position: absolute;
        top: 0;
        left: 12px;
        width: 12px;
    }

    &__overlay {
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__title {
            flex: none;
            flex-grow: 1;
            order: 0;
            margin: 0;
            font-family: inherit;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2rem;
        }

        &__close {
            display: flex;
            overflow: hidden;
            width: 3.2rem;
            height: 3.2rem;
            align-items: center;
            justify-content: center;
            border: unset;
            margin-left: 1.2rem;
            background: transparent;
            border-radius: 4px;
            color: rgba(var(--center-channel-color-rgb), 0.56);
            font-weight: 600;

            &:hover {
                background: rgba(var(--center-channel-color-rgb), 0.08);
            }

            &.active {
                background: rgba(var(--center-channel-color-rgb), 0.08);
            }

            i {
                font-size: 1.8rem;
                line-height: 1.8rem;

                ::before {
                    margin-right: 0;
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        margin-top: 0.6rem;

        p {
            margin: 0 0 0.8rem;
            font-size: 1.4rem;
            line-height: 2rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2.4rem;

        img {
            width: 100%;
            height: 136px;
            border-radius: 4px;
            object-fit: cover;
        }
    }

    &__btn-ctr {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    &__btn {
        display: flex;
        height: 3.2rem;
        align-items: center;
        padding: 10px 16px;
        border: none;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 600;
        line-height: 12px;
    }

    &__confirm-btn {
        background: var(--button-bg);
        color: var(--button-color);

        &:hover:not(.disabled) {
            background:
                linear-gradient(
                        0deg,
                        rgba(var(--center-channel-color-rgb), 0.16),
                        rgba(var(--center-channel-color-rgb), 0.16)
                ),
                var(--button-bg);
        }

        &:active {
            background:
                linear-gradient(
                        0deg,
                        rgba(var(--center-channel-color-rgb), 0.32),
                        rgba(var(--center-channel-color-rgb), 0.32)
                ),
                var(--button-bg);
        }

        &:focus {
            box-shadow: inset 0 0 0 2px var(--sidebar-text-active-border);
        }

        .icon-chevron-right::before {
            margin-right: -7px;
        }
    }

    &__cancel-btn {
        margin-right: 4px;
        background: rgba(var(--button-bg-rgb), 0.08);
        border-radius: 4px;
        color: var(--button-bg);
        text-decoration: none;

        &:hover {
            background: rgba(var(--button-bg-rgb), 0.04);
        }

        &:active {
            background: rgba(var(--button-bg-rgb), 0.08);
        }

        &:focus {
            box-shadow: inset 0 0 0 2px var(--sidebar-text-active-border);
        }

        .icon-chevron-left::before {
            margin-left: -7px;
        }
    }

    &__circles-ctr {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__circular-ring {
        position: relative;
        display: flex;
        width: 12px;
        height: 12px;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
        background: transparent;
        border-radius: 50%;

        &:last-child {
            margin-right: 0;
        }
    }

    &__circular-ring-active {
        background: rgba(var(--button-bg-rgb), 0.16);
    }

    &__circle {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 6px;
        height: 6px;
        background: rgba(var(--button-bg-rgb), 0.32);
        border-radius: 6px;

        &.active {
            background: rgba(var(--button-bg-rgb), 1);
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        margin-top: 2.4rem;

        &-buttons {
            display: flex;
            align-items: center;
            justify-content: start;
        }
    }

    &__opt {
        align-self: flex-end;
        margin-top: 1.2rem;
        font-size: 12px;

        span {
            opacity: 0.9;
        }
    }
}
