.Gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    .octo-gallery-new {
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.09);
        border-radius: var(--default-rad);
        color: rgba(var(--center-channel-color-rgb), 0.3);
        cursor: pointer;
        width: 280px;
        min-height: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        &.selected {
            background-color: rgba(90, 200, 255, 0.2);
        }

        &:hover {
            background-color: rgba(var(--center-channel-color-rgb), 0.05);
        }
    }

    .limitedCardMain {
        display: block;
    }

    .limitedCard {
        display: flex;
        height: 30px;
        margin-left: 10px;
    }

    .limitedCard-title {
        background: rgba(243, 192, 199, 0.2);
        color: #D24B4E;
        padding: 3px 6px 3px 6px;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: bold;
    }
}
