.DeleteIcon {
    fill: rgba(var(--center-channel-color-rgb), 0.5);
    stroke: none;
    width: 24px;
    height: 24px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
