.ShareBoardButton {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;

    > .Button {
        margin-top: 36px;
        padding: 3px 10px;
        background-color: rgb(var(--button-bg-rgb));
        color: rgb(var(--button-color-rgb));
        border-radius: 5px;

        &:hover {
            background-color: rgba(var(--button-bg-rgb), 0.8);
        }
    }
}

