.ShareBoardDialog {
    .dialog {
        width: 600px;
        max-width: 90%;
        height: auto;
        position: relative;
    }

    .toolbar {
        padding: 0;

        button {
            position: absolute;
            right: 16px;
            top: 16px;
            z-index: 5;
        }
    }

    .tabs-container {
        display: flex;
        padding: 24px 0 0;
        margin: 0 24px;
        border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.16);

        .tab-item {
            margin-right: 12px;
            display: flex;
            font-family: Metropolis, sans-serif;
            font-size: 16px;
            background-color: transparent;
            border: 0;
            padding: 0 8px;
            height: 37px;
            font-weight: 600;
            color: rgba(var(--center-channel-color-rgb), 0.56);

            &:hover {
                color: rgba(var(--center-channel-color-rgb), 0.72);
            }

            &.tab-item--active {
                color: inherit;
                border-bottom: 3px solid rgba(var(--button-bg-rgb), 1);
            }
        }
    }

    .tabs-content {
        padding: 24px;
        border-radius: 8px;

        .d-flex {
            display: flex;
        }

        .justify-content-between {
            justify-content: space-between;
        }

        .flex-column {
            flex-direction: column;
        }

        .tabs-inputs {
            margin-top: 16px;

            .input-container {
                border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
                border-radius: 4px;
                flex: 1;
                margin-right: 12px;
                height: 40px;
                width: 400px;
                align-items: center;
                display: flex;
                padding: 0 4px 0 8px;
            }

            .icon-refresh {
                margin: 4px;
                font-size: 18px;
            }

            .icon-content-copy {
                margin-right: 4px;
                font-size: 18px;
            }

            .IconButton {
                height: 100%;
                width: 40px;
            }

            .icon-refresh {
                margin: 4px;
                font-size: 18px;
            }

            .icon-content-copy {
                margin-right: 4px;
                font-size: 18px;
            }

            .shareUrl {
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: auto 4px;
                padding: 0 4px;
                border-radius: 4px;

                :hover {
                    background-color: rgb(var(--center-channel-color-rgb), 0.1);
                }
            }

            input {
                width: 100%;
                height: 40px;
                border-radius: 4px;
                border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
                padding: 0 16px;

                &:focus {
                    border: 2px solid var(--button-bg);
                    padding: 0 15px;
                }
            }
        }
    }

    .share-input__container {
        margin-top: 16px;
        padding: 0 24px 24px;
        border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    }

    .share-input {
        height: 48px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;

        i {
            color: rgba(var(--center-channel-color-rgb), 0.64);
            z-index: 5;
            position: relative;
            font-size: 18px;
        }

        .userSearchInput {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
            padding-left: 35px;
            font-size: 16px;

            &:focus {
                border: 2px solid var(--button-bg);
                padding-left: 39px;
            }
        }
    }

    .user-items {
        padding: 16px 8px;
        max-height: 282px;
        overflow: auto;
        border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.16);

        .user-item {
            justify-content: space-between;
        }
    }

    .user-item {
        display: flex;
        align-items: center;
        height: 56px;
        padding: 0 16px;

        .user-item__img {
            border-radius: 50px;
            width: 32px;
            height: 32px;
            font-size: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .user-item__title {
            font-weight: bold;
        }

        .user-item__content {
            display: flex;
            align-items: center;
        }

        .user-item__button {
            background: transparent;
            border: 0;
            color: rgba(var(--link-color-rgb), 1);
            padding: 0;
            display: flex;
            align-items: center;
            gap: 4px;

            &:hover {
                text-decoration: underline;
            }
        }

        .Menu {
            position: fixed;
            left: 53%;
            right: auto;

            .menu-contents {
                min-width: 240px;
                max-width: 240px;
            }
        }
    }
}
