.ShareBoardButton {
    // flex: 1 1 auto;
    // display: flex;
    // flex-direction: column;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;

    .Button {
        margin-top: 36px;
        padding: 3px 10px;
        background-color: rgb(var(--button-bg-rgb));
        color: rgb(var(--button-color-rgb));
        border-radius: 5px;
        // transition: background 100ms ease-out 0s;
        // height: 100%;

        &:hover {
            background-color: rgba(var(--button-bg-rgb), 0.8);
        }
    }
}

