@import url("partials/root.css");
@import url("partials/fontawesome.css");
@import url("partials/base.css");
@import url("partials/buttons.css");
@import url("partials/header.css");
@import url("partials/footer.css");
@import url("partials/blog.css");
@import url("partials/sidebar.css");
@import url("partials/homepage.css");
@import url("partials/banners.css");
@import url("partials/template-picker.css");


.tags-sidebar .list-unstyled {
    padding-top: .5rem;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 85%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: #999;
}

.subscribe-box {
    border: 1px solid rgba(221, 221, 221, 0.3);
    padding: 50px 50px 40px;
}

.subscribe-form__input {
    background: #F7F8F9;
    height: 60px;
}

@media (max-width: 992px) {
    .sidebar__menu-toggle {
        display: block;
    }

    .sidebar {
        border-radius: 3px;
        border: 1px solid #ddd;
        margin: 50px 16px 0;
    }

    .sidebar__links {
        background: #fff;
        display: none;
    }
}

@media (max-width: 768px) {

    .doc-content {
        padding: 0 20px;
    }

    .homepage-boxes__box {
        border-bottom: 1px solid #ddd;
        margin: 0 auto;
    }

    .homepage-boxes {
        margin-top: -13em;
    }
}

.steps-row {
    display: flex;
    margin: 3rem 0;
}

.steps-number {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #007bff;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    color: #007bff;
}

.steps-header {
    margin-bottom: 10px;
}

.alert {
    font-size: 95%;
}

@media (max-width: 768px) {
    .blog-list .blog-item__date {
        float: none;
        display: block;
        margin-top: 1.5rem;
    }
}

blockquote {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border-left: 1px solid grey;
}

pre {
    padding: 0.5rem;
}

ol>li+li {
    margin-top: 1rem;
}

