.CalendarContainer {
    // height:100%;
    margin-right: 80px;
    // margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;

    .octo-icontitle {
        flex: 1 1 auto;
        font-weight: 600;
        line-height: 20px;

        .octo-icon {
            font-size: 16px;
            margin-right: 8px;
        }
    }

    .fc {
        height: 100%;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        margin-top: 0.75em;
        margin-bottom: 0.75em;

        .fc-button {
            background: rgba(var(--button-bg-rgb), 0.08);
            border-color: rgba(var(--button-bg-rgb), 0.08);
            border-radius: 4px;
            color: rgb(var(--button-bg-rgb));
            margin: 2px;

            &.fc-button-active {
                background-color: rgb(var(--button-bg-rgb));
                color: rgb(var(--button-color-rgb));
                font-weight: normal;
            }
        }

        .fc-today-button,
        .fc-prev-button,
        .fc-next-button {
            background-color: transparent;
            border: 0;
            color: rgb(var(--center-channel-color-rgb));
        
            &:hover {
                background-color: rgba(var(--center-channel-color-rgb), 0.1);
            }
        }
    }

    .fc-event {
        border: 1px solid;
        border-color: rgba(var(--center-channel-color-rgb), 0.1);
        background-color: rgb(var(--center-channel-bg-rgb));
        margin: 5 0;
        padding: 2px;

        &:hover {
            background-color: rgba(var(--center-channel-color-rgb), 0.1);
        }
    }

    .fc-event-main {
        color: rgb(var(--center-channel-color-rgb));
    }

    .fc-event-title {
        overflow: unset;
        white-space: normal;
    }

    .fc-day a {
        color: rgb(var(--center-channel-color-rgb));
    }

    .fc-day-sat,
    .fc-day-sun {
        background-color: rgba(var(--center-channel-color-rgb), 0.1);
    }
}
