.CalendarContainer {
    margin-right: 80px;
    margin-bottom: 10px;
    overflow: auto;

    .octo-tooltip {
        display: flex;
        max-width: 100%;
    }

    .octo-propertyvalue {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        input[value=''] {
            display: none;
        }

        .Label.empty {
            display: block;
            padding: 0;
            margin: 0;
        }
    }

    .octo-icontitle {
        flex: 1 1 auto;
        font-weight: 600;
        line-height: 20px;
        margin: 4px 0;

        .octo-icon {
            font-size: 16px;
            margin-right: 8px;
        }
    }

    .fc {
        height: 100%;
    }

    .fc-daygrid-day-frame {
        cursor: pointer;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        margin-top: 0.75em;
        margin-bottom: 0.75em;

        .fc-button {
            background: rgba(var(--button-bg-rgb), 0.08);
            border-color: transparent;
            border-radius: 4px;
            color: rgb(var(--button-bg-rgb));
            margin: 2px;
            font-weight: 600;
            font-size: 14px;
            height: 32px;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            &.fc-button-active {
                background-color: rgb(var(--button-bg-rgb));
                color: rgb(var(--button-color-rgb));
            }
        }

        .fc-today-button,
        .fc-prev-button,
        .fc-next-button {
            background-color: transparent;
            border: 0;
            color: rgb(var(--center-channel-color-rgb));

            &:hover {
                background-color: rgba(var(--center-channel-color-rgb), 0.1);
            }
        }

        .fc-prev-button,
        .fc-next-button {
            width: 32px;
            height: 32px;
            color: rgb(var(--center-channel-color-rgb), 0.56);

            &:hover {
                background: rgb(var(--center-channel-color-rgb), 0.08);
                color: rgba(var(--center-channel-color-rgb), 0.72);
            }

            &:active {
                background-color: rgba(var(--button-bg-rgb), 0.08);
                color: rgb(var(--button-bg-rgb), 1);
            }

            &:focus {
                border: 0;
            }
        }
    }

    .fc-event {
        border: 1px solid;
        border-radius: 4px;
        border-color: rgba(var(--center-channel-color-rgb), 0.16);
        background-color: rgb(var(--center-channel-bg-rgb));
        box-shadow: var(--elevation-1);
        margin: 0 8px 10px;
        overflow: hidden;
        padding: 4px 6px;

        &:hover::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(var(--center-channel-color-rgb), 0.1);
        }
    }

    .Label {
        font-size: 12px;
        padding: 2px 6px;
    }

    .fc-event-main {
        color: rgb(var(--center-channel-color-rgb));
    }

    .fc-event-title {
        font-size: 14px;
        overflow: unset;
        white-space: normal;
    }

    .fc-day-sat,
    .fc-day-sun {
        background-color: rgba(var(--center-channel-color-rgb), 0.04);
    }

    .fc-day-today {
        background: transparent;

        .fc-daygrid-day-number {
            color: rgba(var(--button-color-rgb));
            background-color: rgba(var(--button-bg-rgb), 1);
        }
    }

    .fc-daygrid-day-number {
        font-weight: 600;
        margin: 4px 4px 0 0;
        min-width: 24px;
        height: 24px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fc-more-link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        border-radius: 4px;
        color: rgba(var(--button-bg-rgb), 1);
        background-color: rgba(var(--button-bg-rgb), 0.08);
        font-weight: 600;
        margin-bottom: 8px;
        height: 24px;

        &:hover {
            background-color: rgba(var(--button-bg-rgb), 0.12);
        }

        &:active {
            background-color: rgba(var(--button-bg-rgb), 0.16);
        }
    }
}
