.CalendarContainer {
    // height:100%;
    margin-right: 80px;
    // margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;

    .octo-icontitle {
        flex: 1 1 auto;
        font-weight: 600;
        line-height: 20px;

        .octo-icon {
            font-size: 16px;
            margin-right: 8px;
        }
    }

    .fc {
        height: 100%;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        margin-top: .75em;
        margin-bottom: .75em;

        .fc-button {
            background: rgba(var(--button-bg-rgb), 0.08);
            border-color: rgba(var(--button-bg-rgb), 0.08);
            border-radius: 4px;
            color: rgb(var(--button-bg-rgb));
            margin: 2px;
            // font-weight: 600;
            &.fc-button-active{
                background-color: rgb(var(--button-bg-rgb));
                color: rgb(var(--button-color-rgb));
                font-weight: normal
            }
        }

        .fc-today-button, .fc-prev-button, .fc-next-button {
            background-color: transparent;
            border: none;
            color: rgb(var(--center-channel-color-rgb));
            &:hover {
                background-color: rgba(var(--center-channel-color-rgb), 0.1);
            }
        }
    }

    .fc-event {
        border: 1px solid;
        border-color: rgba(var(--center-channel-color-rgb), 0.1);
        background-color: rgb(var(--center-channel-bg-rgb));
        margin: 5px 0px 5px;
        padding: 2px;
        &:hover {
            background-color: rgba(var(--center-channel-color-rgb), 0.1);
        }
    }

    .fc-event-main {
        color: rgb(var(--center-channel-color-rgb));
    }

    .fc-event-title {
        overflow: unset;
        white-space: normal;
    }

    .fc-day a {
        color: rgb(var(--center-channel-color-rgb));
    }

    .fc-day-sat, .fc-day-sun {
        background-color: rgba(var(--center-channel-color-rgb), 0.1);
    }

    .DragAndDropCalendar {
        // min-height: 600px;
        // min-width: 800px;

        .rbc-event {
            border: 1px solid;
            border-color: rgba(var(--center-channel-color-rgb), 0.1);
            background-color: rgb(var(--center-channel-bg-rgb));
            // border-radius: $event-border-radius;
            color: rgb(var(--center-channel-color-rgb));
            margin: 0px 0px 5px;
            &:hover {
                background-color: rgba(var(--center-channel-color-rgb), 0.1);
            }
        }
        // .rbc-event.rbc-addons-dnd-dragged-event {
        //     background-color: rgba(var(--center-channel-color-rgb));
        //     opacity: 100;
        // }

        .rbc-toolbar {
            .rbc-toolbar-label {
                padding-left: 0px;
                text-align: left;
            }

            .rbc-btn-group {
                button {
                    border: none
                }

                .rbc-btn-view {
                    background: rgba(var(--button-bg-rgb), 0.08);
                    border-radius: 4px;
                    color: rgb(var(--button-bg-rgb));
                    margin: 2px;
                    font-weight: 600;
                    &.rbc-active{
                        background-color: rgb(var(--button-bg-rgb));
                        color: rgb(var(--button-color-rgb));
                        font-weight: normal
                    }
                }
            }
        }
        .rbc-month-row {
            overflow: unset;
        }
        
        .rbc-addons-dnd-drag-row{
            .rbc-event {
                background-color: rgb(var(--center-channel-color-rgb), 0.1);

            }
        }
    }
}
