.Attachment {
    display: block;
    width: 100%;

    .attachment-header {
        display: flex;
    }

    .attachment-plus-btn {
        margin-left: auto;
    }

    .attachment-content {
        padding-bottom: 20px;
        display: flex;
        overflow-x: auto;
    }

    .attachment-plus-icon {
        color: rgba(var(--center-channel-color-rgb), 0.56);
        cursor: pointer;
    }

    .attachment-title {
        font-family: "Pretendard Variable", Pretendard, -apple-system,
            BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
            "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 20px;
    }
}
