.CardDetail {
    .title {
        width: 100%;
    }

    .add-buttons {
        display: flex;
        flex-direction: column;
        min-height: 30px;
        color: rgba(var(--center-channel-color-rgb), 0.4);
        width: 100%;
        align-items: flex-start;

        .Button {
            display: none;
        }

        &:hover {
            .Button {
                display: flex;
            }
        }
    }

    .octo-propertylist {
        display: flex;
        flex-direction: column;
        width: 100%;

        .MenuWrapper {
            position: relative;
            align-self: center;
        }
    }

    .octo-propertyrow {
        display: flex;
        flex-direction: row;
        margin: 4px 0;
        height: 32px;

        .octo-propertyvalue {
            font-size: 14px;
            width: 100%;

            .MenuWrapper {
                display: flex;
                align-items: center;
            }
        }
    }

    .octo-propertyname {
        width: 150px;
        margin-right: 5px;
        color: rgba(var(--center-channel-color-rgb), 0.6);

        .Button {
            text-align: left;
            justify-content: unset;
        }

        &.add-property {
            color: rgba(var(--center-channel-color-rgb), 0.4);
        }
    }

    &.content-blocks {

        &:hover,
        &:focus-within {
            .CardDetailContentsMenu {
                .Button {
                    opacity: 1;
                }
            }
        }

        .CardDetailContentsMenu {
            margin-left: 48px;

            .Button {
                opacity: 0;
                color: rgba(var(--center-channel-color-rgb), 0.6);
            }
        }
    }
}
