.CardDetail {
    .title {
        width: 100%;
    }

    .add-buttons {
        display: flex;
        flex-direction: column;
        min-height: 32px;
        color: rgba(var(--center-channel-color-rgb), 0.4);
        width: 100%;
        align-items: flex-start;

        .Button {
            display: none;
        }

        &:hover {
            .Button {
                display: flex;
            }
        }
    }

    .octo-propertylist {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .octo-propertyrow {
        display: flex;
        margin: 4px 0;
        height: 32px;

        .octo-propertyvalue {
            font-size: 14px;

            &:not(.readonly) {
                min-width: 180px;
                transition: background 100ms ease-out 0s;
                cursor: pointer;
                padding: 4px 8px;
                border-radius: 4px;

                &:hover {
                    background-color: rgba(var(--center-channel-color-rgb), 0.08);
                }
            }

            .MenuWrapper {
                display: flex;
                align-items: center;
            }
        }

        .Label {
            margin: 0 4px 0 0;
        }
    }

    .octo-propertyname {
        width: 150px;
        margin-right: 5px;
        color: rgba(var(--center-channel-color-rgb), 0.6);

        .Button {
            width: 100%;
            height: 100%;
            padding: 8px;
            text-align: left;
            justify-content: unset;
        }

        &.add-property {
            color: rgba(var(--center-channel-color-rgb), 0.4);
        }
    }

    &.content-blocks {
        &:hover,
        &:focus-within {
            .CardDetailContentsMenu {
                .Button {
                    opacity: 1;
                }
            }
        }

        .CardDetailContentsMenu {
            margin-left: 48px;

            .Button {
                opacity: 0;
                color: rgba(var(--center-channel-color-rgb), 0.6);
            }
        }
    }
}
