.CardDetail {

    .add-buttons {
        display: flex;
        flex-direction: column;
        min-height: 30px;
        color: rgba(var(--body-color), 0.4);
        width: 100%;
        align-items: flex-start;
        .Button {
            display: none;
        }
        &:hover {
            .Button {
                display: flex;
            }
        }
    }

    .octo-propertylist {
        display: flex;
        flex-direction: column;
        width: 100%;
        .MenuWrapper {
            position: relative;
            align-self: center;
        }
    }

    .octo-propertyrow {
        display: flex;
        flex-direction: row;
        margin: 8px 0;
        .octo-propertyvalue {
            .MenuWrapper {
                display: flex;
                align-items: center;
            }
        }
    }

    .octo-propertyname {
        width: 150px;
        margin-right: 5px;
        color: rgba(var(--body-color), 0.6);
        .Button {
            text-align: left;
            justify-content: unset;
        }
        &.add-property {
            color: rgba(var(--body-color), 0.4);
        }
    }

    &.add-content {
        .Button {
            opacity: 0;
            color: rgba(var(--body-color), 0.6);
        }
        &:hover {
            .Button {
                opacity: 1;
            }
        }
    }
}
