.CommentsList {
    padding: 8px 15px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .comment-avatar {
        width: 24px;
        height: 24px;
        border-radius: 100%;
    }

    .CommentsList__new {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 15px;
        min-height: 48px;
        width: 100%;
        justify-content: space-between;
        gap: 6px;
    }    

    .newcomment {
        flex-grow: 1;
        height: 100%;
        overflow: hidden;
        background-color: #323940;
        border-radius: 5px;
        padding: 2px 8px;

        > .octo-placeholder {
            display: flex;
            align-items: center;
        }

        > .MarkdownEditorInput {
            padding: 2px 8px;
        }

        + button {
            // margin: -4px 0 0 8px;
            background-color: #323940;
            color: #B6C2CF;
        }
    }
}

.CommentsList__divider {
    margin-top: 8px;
}
