.CommentsList {
    padding: 8px 0;
    display: flex;
    flex-direction: column;

    width: 100%;

    .comment-avatar {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 4px;
    }

    .commentrow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .comment-avatar {
            margin-top: 6px;
        }
    }

    .newcomment {
        color: rgba(var(--body-color), 0.8);
        flex-grow: 1;
        margin: 4px 0 0 8px;

        & + button {
            margin-left: 8px;
        }
    }
}
