<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Focalboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<userSettings>
        <Focalboard.Properties.Settings>
                <setting name="WindowPosition" serializeAs="String">
                        <value>50, 20</value>
                </setting>
                <setting name="WindowSize" serializeAs="String">
                        <value>1024, 800</value>
                </setting>
                <setting name="WindowMaximized" serializeAs="String">
                        <value>False</value>
                </setting>
        </Focalboard.Properties.Settings>
    </userSettings>
</configuration>
