.Table {
    .octo-group-header-cell {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        height: 50px;
        margin-right: 15px;
        margin-top: 15px;
        vertical-align: middle;

        &.narrow {
            width: 220px;
        }

        > div {
            margin-right: 8px;

            &:last-child {
                margin: 0;
            }
        }

        .IconButton {
            background-color: unset;
            &:hover:not(.readonly) {
                background-color: rgba(var(--body-color), 0.1);
            }
            &.readonly {
                opacity: .5;
            }
        }

        .Label {
            display: inline-flex;
            align-items: center;
            padding: 2px 8px;
            border-radius: 3px;
            line-height: 20px;
            margin-right: 5px;
            color: rgba(var(--body-color), 1);
            white-space: nowrap;
            text-transform: none;
            font-weight: normal;
            font-size: 16px;
            width: 100%;

            input {
                background: transparent;
                width: 100%;
                text-transform: none;
                font-weight: normal;
                font-size: 16px;
                //     line-height: 20px;
                color: rgba(var(--body-color), 1);
            }
        }

        > .Button {
            &.IconButton:not(.readonly) {
                cursor: pointer;
            }
            cursor: auto;
        }
        &.expanded {
            .DisclosureTriangleIcon {
                transform: rotate(90deg);
            }
        }
    }

    .octo-table-cell {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        color: rgb(var(--body-color));
        border-right: solid 1px rgba(var(--body-color), 0.09);
        border-left: 1px solid transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        box-sizing: border-box;
        padding: 8px;
        min-height: 32px;
        font-size: 14px;
        line-height: 30px;
        position: relative;
        text-overflow: ellipsis;

        &:hover {
            background-color: rgba(var(--body-color), 0.05);
        }

        &.title-cell {
            padding-left: 16px;
        }

        .octo-icontitle {
            flex: 1 1 auto;

            .octo-icon {
                min-width: 20px;
            }

            .Editable {
                flex: 1 1 auto;
            }
        }

        &.header-cell {
            padding-right: 0;

            .Icon {
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-left: 5px;
            }
        }

        &:focus-within {
            background-color: rgba(46, 170, 220, 0.15);
            border: 1px solid rgba(46, 170, 220, 0.6);
        }

        .Editable {
            padding: 0 5px;
            display: relative;
            left: -5px;
        }

        .Editable.Editable.active {
            overflow: hidden;
        }

        .octo-propertyvalue {
            line-height: 17px;
            overflow: hidden;
            text-overflow: ellipsis;
            .Label {
                margin: 5px;
            }
        }

        .Editable,
        .octo-propertyvalue {
            text-align: left;
            white-space: nowrap;
            width: inherit;
        }
    }

    &.octo-table-body {
        display: flex;
        flex-direction: column;
        overflow: auto;
        position: relative;
    }

    .octo-table-header,
    .octo-table-row,
    .octo-table-footer {
        display: flex;
        flex-direction: row;

        border-bottom: solid 1px rgba(var(--body-color), 0.09);
        &.hidden {
            display: none;
        }
    }

    .octo-table-header {
        position: sticky;
        top: 0;
        z-index: 1;
        background: rgb(var(--main-bg));

        .octo-table-cell {
            color: rgba(var(--body-color), 0.6);
            background: rgb(var(--main-bg));

            .Label {
                color: rgba(var(--body-color), 0.6);
            }
        }
    }

    .octo-table-footer {
        .octo-table-cell {
            color: rgba(var(--body-color), 0.6);
            cursor: pointer;

            width: 100%;
            border-right: none;
            padding-left: 15px;

            &:hover {
                background-color: rgba(var(--body-color), 0.08);
            }
        }
    }

    .MenuWrapper {
        max-width: calc(100% - 5px);

        .Label {
            width: 100%;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
