.TableRow {
    .open-button {
        display: none;

        .Button {
            padding: 2px 4px;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 600;
            color: rgba(var(--center-channel-color-rgb), 0.64);
            background-color: rgba(var(--center-channel-color-rgb), 0.1);
            box-shadow: rgba(var(--center-channel-color-rgb), 0.1) 0 0 0 1px,
                rgba(var(--center-channel-color-rgb), 0.1) 0 2px 4px;
            height: 90%;
            width: 100%;
        }
    }

    &.selected {
        background-color: rgba(90, 200, 255, 0.2);
    }

    &:hover {
        background-color: rgba(var(--center-channel-color-rgb), 0.05);
        overflow: initial;
        margin-left: -60px;

        .delete-button {
            display: block;
        }

        .open-button {
            display: block;
        }
        
        .action-cell {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            color: rgb(var(--center-channel-color-rgb));
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            box-sizing: border-box;
            padding: 8px;
            height: 44px;
            font-size: 14px;
            text-overflow: ellipsis;
            background-color: rgb(255, 255, 255);
            position: fixed;
            z-index: 100;
        }

        .octo-table-cell-btn {
            display: flex;
        }

        .title-cell {
            margin-left: 60px;
        }
    }

    .action-cell {
        display: none;
        width: 60px;
    }

    .URLProperty:hover .Button_Copy {
        display: none;
    }
}
