.CalculationRow {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    height: 44px;
    border-bottom: none;
    border-top: solid 1px rgba(var(--body-color), 0.09);
    // To override table's specific border
    border-bottom: none !important;
    background-color: rgb(var(--main-bg));

    .octo-table-cell {
        background-color: rgb(var(--main-bg));
        align-items: center;
        justify-content: flex-end;
        border: none;
    }

    .title {
        padding-left: 40px;
    }

    .CalculationOptions {
        width: 100%;
    }
}

.Table {
    .octo-table-cell.Calculation:focus-within {
        border: unset;
        background-color: rgb(var(--main-bg));
    }

    .octo-table-cell.Calculation:hover {
        background-color: rgb(var(--main-bg));
    }
}
