.CalculationRow {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    height: 47px;
    border-bottom: none;
    border-top: solid 1px rgba(var(--body-color), 0.09);

    .octo-table-cell {
        background-color: rgb(var(--main-bg)) !important;

        // To override table's generic hover styling
        &:hover {
            background-color: rgb(var(--main-bg)) !important;
        }
    }

    .title {
        padding-left: 40px;
    }

    .CalculationOptions {
        width: 100%;
    }
}

.Table {
    .octo-table-row {
        &.CalculationRow {
            border-bottom: none;
        }
    }
}
